{{ define "styles" }}
    {{ partial "inside-style.html" . }}
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
    <div id="wrapper">
      <!-- Do NOT remove inline styles on bg below -->
      <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

    {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

    {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

    <div id="main">
        <article class="post">
            <header class="major">
                <h1>{{ .Title }}</h1>
            </header>

            <div>
              {{- .Content -}}
            </div>

            <p>
                If you have any questions while I am not there, feel free to ask the front desk or head over to my <a href="/contact">contact page</a>.
                Please make any purchases through the front desk, if I am not there available to help for purchase.
            </p>

            <h3 id="current">Current Works at Patina</h3>

            <p>
                Here are links for the current artworks that reside at <a href="http://patinaartscentre.com/">Patina Arts Centre</a>.
                Feel free to click any of them, to read more information.
            </p>

            {{ $posts := slice }}
            {{ range (sort .Site.RegularPages "Params.power" "desc") }}
                {{ if in .Params.locations "patina" }}
                    {{ $posts = $posts | append . }}
                {{ end }}
            {{ end }}
            {{ $favorites := $posts | symdiff .Data.Pages }}

            <div class="box alt">
                <div class="row gtr-50 gtr-uniform">
                    {{ range $favorites }}
                        <div class="col-3">
                            <span class="image fit">
                                <a class="thumbnail" href="{{ .RelPermalink }}#main">
                                    {{ $thumbnail := .Resources.GetMatch "painting.jpg" }}
                                    {{ $thumbnail := $thumbnail.Fill "300x300 Center" }}
                                    {{ $thumbnail := $thumbnail.Resize "300x webp q90" }}

                                    <img class="loader" src="{{ $thumbnail.RelPermalink }}" loading="lazy" alt="{{- .Title -}}" title='{{ .Title }}' />
                                </a>
                            </span>
                        </div>
                    {{ end }}
                </div>
            </div>

            <p style="text-align: center;">
                <a href="/artwork#main" class="button">View All Artwork &gt;</a>
            </p>
        </section>
    </div>

    {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
  </div>
{{ end }}