{{ define "styles" }}
    {{ partial "inside-style.html" . }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.qrcode.js"></script>
    <script type="text/javascript" src="/js/qrcode.js"></script>

    <style>
        @media print {
            html, body, #wrapper, #main, .post, ul {
                width: 100% !important;
                padding: 0 !important;
                margin: 0 !important;
            }

            h2 {
                font-size: 1.2em;
            }

            .noprint {display: none;}
        }
    </style>
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
    <div id="wrapper">
      <!-- Do NOT remove inline styles on bg below -->
      <div class="bg fixed noprint" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

    <div class="noprint">
        {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

        {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}
    </div>

    <div id="main">
        <article class="post">
            <header class="major noprint">
                <h1>{{ .Title }}</h1>
            </header>

            <div class="noprint">
              {{- .Content -}}
            </div>

            {{ $posts := slice }}
            {{ range .Site.RegularPages }}
                {{ if in .Params.locations "patina" }}
                    {{ $posts = $posts | append . }}
                {{ end }}
            {{ end }}
            {{ $favorites := $posts | symdiff .Data.Pages }}

            <ul style="text-align: left; padding: 0; margin: 0;">
                {{ range $favorites }}
                    {{ $hash := math.Rand | mul 999999 | math.Floor }}
                    {{ $thumbnail := .Resources.GetMatch "painting.jpg" }}
                    {{ $thumbnail := $thumbnail.Fill "200x200 Center" }}
                    {{ $thumbnail := $thumbnail.Resize "200x webp q90" }}
                    <li style="list-style:none; clear:both; border:dashed grey 1px; display: inline-block; padding: 20px;">
                        <a class="left" href="{{ .RelPermalink }}#main" style="float:left; padding:0; margin:0; line-height: 0;">
                            <img style="background: #000 url('/images/loader.gif') center no-repeat; padding:0; margin:0;" src="{{ $thumbnail.RelPermalink }}" width="120px" height="120px" alt="{{- .Title -}}" title='{{ .Title }}'>
                        </a>
                        <div class="left" style="float:left; padding:10px 20px 0 20px;">
                            <h2 style="text-transform: none; padding:0; margin:0; letter-spacing:normal;">{{ .Title}}</h2>
                            <p style="padding:0.5em 0 0 0; margin:0; line-height:1em;">
                                {{ if eq .Params.status "sold" }}
                                    Framed Limited Reproduction
                                {{ else }}
                                    {{ title (index (.Params.mediums) 0) }} on {{ title (index (.Params.materials) 0) }}
                                    <br>
                                    Original Painting
                                {{ end }}
                            </p>
                            <p style="padding:0.5em 0 0 0; margin:0; line-height:1em;">
                                {{ if (index (.Params.products) 0).pending }}
                                    <!--<strong style="color:rgb(137, 0, 0);">
                                        Hold for Pending Exhibit
                                        <br>
                                    </strong>-->
                                {{ end }}
                                <strong>Sale Price:</strong>
                                {{ if (index (.Params.products) 0).price }}
                                    <del style="color:#555;">{{ (index (.Params.products) 0).price }}</del>
                                    <strong style="color:#0f7d0f;">{{ (index (.Params.products) 0).patina }}</strong>
                                {{ else }}
                                    <strong style="color:#0f7d0f;">{{ (index (.Params.products) 0).price }}</strong>
                                {{ end }}
                            </p>
                        </div>
                        <div class="left align-center" style="float:left; padding:10px 10px 0 10px;">
                            <div id="qr-{{ $hash }}" style="line-height:1em;"></div>
                            <div style="color:#555; line-height:1em; font-size:0.6em;">Scan to Learn More</div>
                        </div>
                        <script>
                            $('#qr-{{ $hash }}').qrcode({width: 100,height: 100,text: "https://benjaminjyoung.com/{{ .RelPermalink }}?utm_campaign=gallery&utm_source=patina"});
                        </script>
                    </li>
                {{ end }}
            </ul>

            <hr>

            {{ $posts := slice }}
            {{ range .Site.RegularPages }}
                {{ if in .Params.locations "print" }}
                    {{ $posts = $posts | append . }}
                {{ end }}
            {{ end }}
            {{ $favorites := $posts | symdiff .Data.Pages }}

            <ul style="text-align: left; padding: 0; margin: 0;">
                {{ range $favorites }}
                    {{ $hash := math.Rand | mul 999999 | math.Floor }}
                    {{ $thumbnail := .Resources.GetMatch "painting.jpg" }}
                    {{ $thumbnail := $thumbnail.Fill "200x200 Center" }}
                    {{ $thumbnail := $thumbnail.Resize "200x webp q90" }}
                    <li style="list-style:none; clear:both; border:dashed grey 1px; display: inline-block; padding: 20px;">
                        <a class="left" href="{{ .RelPermalink }}#main" style="float:left; padding:0; margin:0; line-height: 0;">
                            <img style="background: #000 url('/images/loader.gif') center no-repeat; padding:0; margin:0;" src="{{ $thumbnail.RelPermalink }}" width="120px" height="120px" alt="{{- .Title -}}" title='{{ .Title }}'>
                        </a>
                        <div class="left" style="float:left; padding:10px 20px 0 20px;">
                            <h2 style="text-transform: none; padding:0; margin:0; letter-spacing:normal;">{{ .Title}}</h2>
                            <p style="padding:0.5em 0 0 0; margin:0; line-height:1em;">
                                Limited Reproduction
                                <br><br>
                                <strong>Unframed:</strong>
                                <del style="color:#555;">$69</del>
                                <strong style="color:#0f7d0f;">$39</strong>
                                <br>
                                <strong>Framed:</strong>
                                <del style="color:#555;">$99</del>
                                <strong style="color:#0f7d0f;">$59</strong>
                            </p>
                        </div>
                        <div class="left" id="qr-{{ $hash }}" style="float:left; padding:10px 10px 0 10px;"></div>
                        <script>
                            $('#qr-{{ $hash }}').qrcode({width: 100,height: 100,text: "https://benjaminjyoung.com/{{ .RelPermalink }}?utm_campaign=gallery&utm_source=patina"});
                        </script>
                    </li>
                {{ end }}
            </ul>

            <br class="clear">
        </section>
    </div>

    <div class="noprint">
        {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
    </div>
  </div>
{{ end }}