{{ define "styles" }}
    {{ partial "inside-style.html" . }}
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}
{{ end }}

{{ define "main" }}
    <script>
        fbq('track', 'Search', {
        content_category: 'Shop',
        content_name: 'Main'
        });
    </script>

    <div id="wrapper">
        <!-- Do NOT remove inline styles on bg below -->
        <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

    {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

    {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

    <div id="main">
        <section style="text-align:center;">
            <div class="box" style="font-weight:bold; background:#721f1f; color:#fff;">
                <p style="text-align:center;">
                    Early Labor Day Sale! 10% off all orders using discount code 'LABOR10' until September 2nd. Online only.
                </p>
            </div>

            <header class="major">
                <h1>{{ .Title }}</h1>
            </header>

            {{ .Content }}

            <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?101772706&data_platform=code&data_date=2024-04-07" charset="utf-8"></script>

            <div id="my-store-101772706" class="loader" style="min-height:400px;"></div>
            <div>
              <script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-101772706");</script>
            </div>

            <div id="my-search-101772706"></div>
            <div>
                <script type="text/javascript"> xSearch("id=my-search-101772706"); </script>
            </div>

            <br>
            
            <strong>Order Resources:</strong>
            <ul style="list-style:none; display:inline-block;">
                <li style="display:inline-block;">
                    <a href="/shipping#main">Shipping Policy</a>
                </li>
                <li style="display:inline-block;">
                    <a href="/returns#main">Returns Policy</a>
                </li>
                <li style="display:inline-block;">
                    <a href="/privacy#main">Privacy Policy</a>
                </li>
            </ul>
        </section>
    </div>

    {{ block "footer" . }}
        {{ partialCached "inside-footer.html" . }}
    {{ end }}
  </div>

{{ end }}