baseURL = 'https://benjaminjyoung.com/'
languageCode = 'en-us'
title = 'Ben Young Artist'
copyright = 'Ben Young Arts, LLC.'
enableRobotsTXT = true
timeout = '600'

[language]
  languageCode = 'en-us'

[taxonomies]
  category = 'categories'
  medium = 'mediums'
  color = 'colors'
  collection = 'collections'
  location = 'locations'
  tag = 'tags'
  series = 'series'

[outputs]
  home = ['html', 'rss']
  section = ['html', 'rss']
  taxonomy = ['html']
  term = ['html']

[params]
  commentoEnable = false
  location = "318 Cleveland Ave NW. Studio #220. Canton, Ohio 44702. USA."
  sale = false
  favicon = '/favicon.ico'
  [params.social]
    facebook		= "artist.benjamin.young"
    facebook_admin	= "61556301758002"  # This needs to be a page admin to get domain insights
    twitter		    = "artistbenyoung"
    twitter_domain	= "benjaminjyoung.com" # This domain shows in twitter cards as "View on `twitter_domain`"
    pinterest		= "artistbenyoung"
    instagram		= "artistbenyoung"
  [params.author]
    email = 'the@benjaminjyoung.com'
    name = 'Ben Young'

[menus]
[[menus.main]]
    name = 'Home'
    pageRef = '/'
    weight = 10
[[menus.main]]
    name = 'About'
    pageRef = '/about/'
    weight = 20
[[menus.main]]
    name = 'Artwork'
    pageRef = '/featured/'
    weight = 30
[[menus.main]]
    name = 'Shop'
    pageRef = '/shop/'
    weight = 40
[[menus.main]]
    name = 'News'
    pageRef = '/news/'
    weight = 50
[[menus.main]]
    name = 'Contact'
    pageRef = '/contact/'
    weight = 60

[[menus.inside]]
    name = 'Home'
    pageRef = '/'
    weight = 10
[[menus.inside]]
    name = 'About'
    pageRef = '/about/'
    weight = 30
[[menus.inside]]
    name = 'Artwork'
    pageRef = '/featured/'
    weight = 40
[[menus.inside]]
    name = 'Shop'
    pageRef = '/shop/'
    weight = 50
[[menus.inside]]
    name = 'News'
    pageRef = '/news/'
    weight = 60
[[menus.inside]]
    name = 'Contact'
    pageRef = '/contact/'
    weight = 80

[[menus.small]]
    name = 'Home'
    pageRef = '/'
    weight = 10
[[menus.small]]
    name = 'About'
    pageRef = '/about/'
    weight = 20
[[menus.small]]
    name = 'Newsletter'
    pageRef = '/sign-up/'
    weight = 30

[services]
  [services.googleAnalytics]
    ID = 'G-LKWC4KDVH8'

[sitemap]
    changefreq = 'monthly'
    priority = 1.0

[related]
  includeNewer = true
  threshold = 50
  toLower = false
[[related.indices]]
    name = 'series'
    applyFilter = false
    pattern = ''
    toLower = false
    type = 'basic'
    weight = 200
[[related.indices]]
    name = 'tags'
    applyFilter = false
    cardinalityThreshold = 10
    pattern = ''
    toLower = false
    type = 'basic'
    weight = 30
[[related.indices]]
    name = 'mediums'
    applyFilter = false
    pattern = ''
    toLower = false
    type = 'basic'
    weight = 40
[[related.indices]]
    name = 'categories'
    applyFilter = false
    pattern = ''
    toLower = false
    type = 'basic'
    weight = 30
[[related.indices]]
    name = 'collections'
    applyFilter = false
    pattern = ''
    toLower = false
    type = 'basic'
    weight = 60
[[related.indices]]
    name = 'colors'
    applyFilter = false
    pattern = ''
    toLower = false
    type = 'basic'
    weight = 20

[deployment]

[[deployment.matchers]]
# Cache static assets for 1 year.
pattern = "^.+\\.(js|css|svg|ttf|woff2)$"
cacheControl = "max-age=31536000, no-transform, public"
gzip = true

[[deployment.matchers]]
pattern = "^.+\\.(png|jpg|gif|webp)$"
cacheControl = "max-age=31536000, no-transform, public"
gzip = false

[markup]
  [markup.goldmark]
    [markup.goldmark.parser]
      [markup.goldmark.parser.attribute]
        block = true
        title = true