<nav id="nav">
    {{/* list of child pages */}}
    {{ $currentPage := . }}
    <ul class="links">
        {{ range .Site.Menus.inside }}
            <li class="{{if strings.Contains $currentPage.RelPermalink .URL }}{{if ne .Name "Home"}}active{{end}}{{ end }}">
                <a href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                    {{ .Name }}
                </a>
            </li>
        {{ end }}
    </ul>
    
    <ul class="icons">
        <li>
            <a href="/shop/#!/~/cart" class="icon solid before fa-shopping-cart" title="Shopping Cart">
                <span class="label">Shopping Cart</span>
            </a>
        </li>
    </ul>
</nav>