{{ with resources.Get "js/jquery.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/jquery.poptrox.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/browser.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/breakpoints.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/main.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/utms.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}