{{ define "styles" }}
    {{ partial "inside-style.html" . }}
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}
{{ end }}

{{ define "main" }}
<div id="wrapper">
    <!-- Do NOT remove inline styles on bg below -->
    <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

  {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

  {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

  <div id="main">
      <article class="post">

        <header class="major">
            <h1>{{ .Title }}</h1>
        </header>

        <div>
          {{- .Content -}}
        </div>

        {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
        {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
        {{ $section_count := len $section }}

        {{ if ge $section_count 1 }}
            {{ $section_name := index (.Site.Params.mainSections) 0 }}
            {{ $n_posts := $.Param "recent_posts_number" | default 120 }}

            {{ range $i,$p := (sort $section "Params.power" "desc") }}
              {{ if not .Params.disliked }}
                {{ $thumbnail := .Resources.GetMatch "painting.jpg" }}
                {{ $thumbnail := $thumbnail.Fill "160x160 Center" }}
                {{ $thumbnail := $thumbnail.Resize "160x webp q90" }}

                <a href="{{ .RelPermalink }}" class="image" title="{{ .Title }} ({{ .Date| time.Format `2006` }})">
                    <img style="background: #000 url('/images/loader.gif') center no-repeat;" width="140px" height="140px" src="{{ $thumbnail.RelPermalink }}" loading="lazy" alt="{{ .Params.alt }}" title='{{ .Title }} ({{ .Date| time.Format "2006" }}) by Ben Young'>
                </a>
              {{ end }}
            {{ end }}
        {{ end }}

        <br>
        <br>

        <p style="text-align: center;">
            <a href="/shop/" class="button">Shop Artwork &gt;</a>
        </p>

        <h2>Text List</h2>
        {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
        {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
        {{ $section_count := len $section }}

        {{ if ge $section_count 1 }}
          <ul>
            {{ $section_name := index (.Site.Params.mainSections) 0 }}
            {{ $n_posts := $.Param "recent_posts_number" | default 120 }}

            {{ range $i,$p := (sort $section "Params.power" "desc") }}
              <li style="padding:0; margin:0; line-height:1.2em;">
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </article>
    </div>

    {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
    </div>
{{ end }}