{{ define "styles" }}
    {{ partial "inside-style.html" . }}
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}

    <script>
      fbq('track', 'Search');
    </script>
{{ end }}

{{ define "main" }}
  <div id="wrapper">
    <!-- Do NOT remove inlinse styles on bg below -->
    <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

    {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

    {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

    <div id="main">
        <section class="post">
            <header class="major">
                <h1>{{ .Title }}</h1>
            </header>

            <article>
              {{- .Content -}}
            </article>

            <hr>

            <section>
              {{ range .Paginator.Pages }}
                <div>
                  {{ .Render "summary" }}
                </div>
                <hr>
              {{ end }}
            </section>
            
            <section style="text-align: center;">
              {{- template "_internal/pagination.html" . -}}
            </section>
        </section>
    </div>

    {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
  </div>
  
{{ end }}
