{{ define "styles" }}
    {{ partial "inside-style.html" . }}

    {{ if .Resources.GetMatch "painting.jpg" }}
      {{ $bg := .Resources.GetMatch "painting.jpg" }}
      {{ $bg1jpg := $bg.Fit "420x500 jpg q86" }}
      {{ $bg1webp := $bg.Fit "420x500 webp q86" }}
      {{ $bg2jpg := $bg.Fit "1680x2000 jpg q86" }}
      {{ $bg2webp := $bg.Fit "1680x2000 webp q86" }}


      <style>
        #wrapper > .bg {
          background-image: image-set(
            "{{ $bg1webp.RelPermalink }}" type("image/webp") 1x,
            "{{ $bg2webp.RelPermalink }}" type("image/webp") 2x,
            "{{ $bg1jpg.RelPermalink }}" type("image/jpg") 1x,
            "{{ $bg2jpg.RelPermalink }}" type("image/jpg") 2x
          );
          background-color: #000;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }

        .ecwid-btn {
          color: white !important;
        }
      </style>
    {{ end }}
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}

    <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?101772706&data_platform=singleproduct_v2" charset="utf-8"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", () => {
        xProduct();
      });
    </script>
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
    <div id="wrapper">
      <!-- Do NOT remove inline styles on bg below -->
      <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

    {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

    {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

    <div id="main">
        <article class="post">
            <header class="major">
                <h1>{{ .Title }}</h1>
            </header>

            <div>
              {{- .Content -}}

              <div class="row">
                <div class="col-6 col-small-12">
                  {{ if .Resources.GetMatch "painting.jpg" }}
                    {{ $display := .Resources.GetMatch "painting.jpg" }}
                    {{ $display := $display.Fit "800x800 webp q86" }}

                    <img src="{{ $display.RelPermalink }}" alt="Ben Young Art" class="image fit">
                  {{ end }}
                </div>

                <div class="col-6 col-small-12">
                  <h2 class="mb-3">Upgrade Your Print for a Bigger, Bolder Impact.</h2>
                  <p>The print you selected is the smaller 5”x4” size (shown on the right). While beautiful, my artwork really comes to life at a larger scale—revealing more of the fine details, colors, and textures that make each piece special.</p>
                  <p>You can upgrade to the larger 12”x9” size—over twice as big—for just $49 with FREE shipping. Using the coupon code <strong></strong> at checkout.</p>
                  <p>Your support means the world to me—and helps me continue creating as an independent artist.</p>
                </div>
              </div>
            </div>

                    <div class="alert alert-warning" style="margin: 2em 0; color: #856404; background-color: #fff3cd; border: 1px solid #ffeeba; padding: 1em; border-radius: 4px;">
          <strong>Don't forget:</strong> Enter your discount code at checkout to get your special offer! Look for "<strong>Have a Promo Code? Redeem your coupon</strong>" on the checkout page and click it, to then enter in the code.
        </div>

                    
                    <div class="row" style="text-align: center;">
                      <div class="col-12"><h2>Select Your Print</h2></div>
                      <div class="col-2 col-0-small"></div>
                      {{ range $product := .Params.products }}
                        <div class="col-4 col-12-small">

                          <div class="ecsp ecsp-SingleProduct-v2 ecsp-SingleProduct-v2-bordered ecsp-SingleProduct-v2-centered ecsp-Product ec-Product-{{ $product.id }}" itemtype="http://schema.org/Product" data-single-product-id="{{ $product.id }}">
                            <div itemprop="image"></div>
                            <div class="ecsp-title" itemprop="name" content="{{ $product.title }}"></div>
                            <div class="ecsp-price">
                              {{ $product.price }}<br>
                              {{ $product.coupon }}
                            </div>
                            <div customprop="addtobag"></div>
                          </div>
                          <br>
                          <br>
                        </div>
                      {{ end }}
                    </div>

        </section>
    </div>

    {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
  </div>
{{ end }}