{{ define "styles" }}
    {{ partial "inside-style.html" . }}
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
    <div id="wrapper">
      <!-- Do NOT remove inlinse styles on bg below -->
      <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

    {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

    {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

    <div id="main">
        <section class="post">
          {{/* Breadcrumbs */}}
          {{ if .IsPage }}
            <nav class="f7">
              <a href="{{ .Site.BaseURL }}" class="link blue hover-black">Home</a>
              <span class="mh1">/</span>
              <a href="{{ .CurrentSection.RelPermalink }}" class="link blue hover-black">{{ .CurrentSection.Title }}</a>
              <span class="mh1">/</span>
              <a href="{{ .RelPermalink }}" class="link blue hover-black">{{ .Title }}</a>
            </nav>
          {{ end }}
            <br>
            <header class="major">
                <h1>{{- .Title -}}</h1>
            </header>

            <section style="text-align:center;">
              {{ $full := .Resources.GetMatch "painting.jpg" }}
              {{ $full := $full.Fit "800x800 webp q85" }}

              {{ $top := .Resources.GetMatch "painting.jpg" }}
              {{ $top := $top.Fit "1600x1600 q100" }}

              <a class="painting" href="{{ $top.RelPermalink }}" data-position="center" style="display:block; border:#000 4px outset; box-shadow:0 0 30px rgba(0, 0, 0, 0.8); padding:0; background:#000; position:relative; z-index:2;">
                <div class="frame" style="border:#111 3vw solid; box-shadow:inset 0 0 30px rgba(0, 0, 0, 1);">
                  <div class="frame-inside" style="border:#000 4px inset; position:relative; z-index:-1;">
                    <div class="mat" style="background:#fff; border:#fff 6vw solid; line-height:0.5em;">
                      <br class="clear" style="clear:both;">
                      
                      <img class="canvas" src="{{ $full.RelPermalink }}" width="800" height="800" style="display:block; width:100%; height:auto;" alt="{{ .Params.alt }}" title='{{ .Title }} ({{ .Date| time.Format "2006" }}) by {{ .Site.Copyright }}'>
                      
                      <br class="clear" style="clear:both;">

                      <div class="info" style="font-size:0.5em; width:100%; line-height:1.5em;">
                        <div class="author" style="float:left; text-align:left; width:50%; padding:0 0.5em;">
                          <strong class="title" style="font-size:1.2em;">
                            {{ .Params.author | default .Site.Params.author }}
                          </strong>
                          <br>
                          American, 1990 - Current
                        </div>

                        <div class="description" style="float:right; text-align:right; width:50%; padding:0 0.5em;">
                          <span class="title" style="font-size:1.2em;">
                            <strong>
                              {{ .Title }}
                            </strong>
                            (
                            <em>
                              {{ .Date | time.Format (default "2006" .Site.Params.date_format) }}
                            </em>
                            )
                          </span>
                          <br>
                          {{ .Params.medium }} on {{ .Params.material }}
                        </div>
                      </div>

                      <br class="clear" style="clear:both;">
                    </div>
                  </div>
                </div>
              </a>

              <br>

              <div style="text-align:center; line-height:1.2em; position:relative; font-family:Arial;">
                {{ if or (.Params.original) (.Params.prints) (.Params.digital) }}
                  <div style="text-align:center;">
                    {{ if .Params.original }}
                      <a href="{{ .Params.original }}" onclick="fbq('track', 'ViewContent');" class="button" style="margin:0.5em; padding:0 1em;">
                        Purchase
                      </a>
                    {{ end }}
                    {{ if .Params.prints }}
                      <a href="{{ .Params.prints }}" onclick="fbq('track', 'ViewContent');" class="button" style="margin:0.5em; padding:0 1em;">
                        Order Prints
                      </a>
                    {{ end }}
                    {{ if .Params.digital }}
                      <a href="{{ .Params.digital }}" onclick="fbq('track', 'ViewContent');" class="button" style="margin:0.5em; padding:0 1em;">
                        Download
                      </a>
                    {{ end }}
                  </div>
                {{ end }}
              </div>
            </section>

            <br>

            <article>
              <h2>About the {{ .Title }} Painting</h2>

              <p>
                {{/* Hugo uses Go's date formatting is set by example. Here are two formats */}}
                {{ if not .Date.IsZero }}
                  <time class="date" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
                    <em>{{- .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}</em>
                  </time>
                {{end}}
              </p>

              <div class="specifications" style="float:right; border:1px solid #ccc; padding:2em; margin:0.5em 0 2em 3em;">
                <h3>Specifications</h3>
                <ul>
                  <li>
                    <strong>Title:</strong> {{ .Title }}
                  </li>
                  <li>
                    <strong>Artist:</strong> {{ .Params.author | default .Site.Params.author }}
                  </li>
                  <li>
                    <strong>Category:</strong> {{ .Params.category }}
                  </li>
                  <li>
                    <strong>Size:</strong> {{ .Params.size }}
                  </li>
                  <li>
                    <strong>Medium:</strong> {{ .Params.medium }}
                  </li>
                  <li>
                    <strong>Material:</strong> {{ .Params.material }}
                  </li>
                  <li>
                    <strong>Completed:</strong> {{ .Date | time.Format "January 2, 2006" }}
                  </li>
                </ul>
              </div>

              {{- .Content -}}

              <br style="clear:both;">

              <h2 id="purchase">Purchase the {{ .Title }} Painting</h2>
              <ul style="list-style:none; text-align:center;">

                {{ with $original := .Resources.GetMatch "original.jpg" }}
                  {{ $original := $original.Fill "250x250 Top q85" }}
                  <li style="display:inline-block; padding:1em; text-align:center;">
                    <h3>Original Painting</h3>

                    <p>
                      <a href="{{ $.Params.original }}" onclick="fbq('track', 'ViewContent');" data-position="center">
                        <img src="{{ $original.RelPermalink }}" width="250px" height="250px" loading="lazy" alt="Buy the original {{ $.Title }}" title="Original {{ $.Title }}">
                      </a>
                    </p>

                    <a href="{{ $.Params.original }}" class="button">Purchase on Saatachi</a>
                  </li>
                {{ end }}

                {{ with $print := .Resources.GetMatch "print.jpg" }}
                  {{ $print := $print.Fit "250x250 q85" }}
                  <li style="display:inline-block; padding:1em; text-align:center;">
                    <h3>Printed Copy</h3>

                    <p>
                      <a href="{{ $.Params.prints }}" onclick="fbq('track', 'ViewContent');" data-position="center">
                        <img src="{{ $print.RelPermalink }}" width="250px" height="250px" loading="lazy" alt="Buy a print of {{ $.Title }}" title="Print of {{ $.Title }}">
                      </a>
                    </p>

                    <a href="{{ $.Params.prints }}" class="button">Order on Etsy</a>
                  </li>
                {{ end }}

                {{ if .Params.digital }}
                  {{ $digital := .Resources.GetMatch "painting.jpg" }}
                  {{ $digital := $digital.Fill "250x250 q85" }}
                  <li style="display:inline-block; padding:1em; text-align:center;">
                    <h3>Digital Download</h3>

                    <p>
                      <a href="{{ .Params.digital }}" onclick="fbq('track', 'ViewContent');" data-position="center">
                        <img src="{{ $digital.RelPermalink }}" width="250px" height="250px" loading="lazy" alt="Digital Download for {{ .Title }}" title="Digital Download of {{ .Title }}">
                      </a>
                    </p>

                    <a href="{{ .Params.digital }}" class="button">Download on Patreon</a>
                  </li>
                {{ end }}

              </ul>

              <strong>Tags:</strong>
              {{- partial "tags.html" . -}}
            </article>

            <br style="clear:both;">

            <section>
              <div>
                <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=65d9851dc0be3b0019eaef5f&product=inline-share-buttons&source=platform" async="async"></script>
                <div class="sharethis-inline-share-buttons"></div>
              </div>
              <br>
              <div class="mt6 instapaper_ignoref">
              {{ if .Site.Config.Services.Disqus.Shortname }}
                {{ template "_internal/disqus.html" . }}
              {{ end }}
              {{ if .Site.Params.commentoEnable }}
                {{- partial "commento.html" . -}}
              {{ end }}
              </div>
            </section>
        </section>

        <aside class="w-30-l mt6-l">
          {{- partial "menu-contextual.html" . -}}
        </aside>
    </div>

    {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
  </div>

{{ end }}
