{{ define "styles" }}
    {{ partial "inside-style.html" . }}

    {{ if .Resources.GetMatch "painting.jpg" }}
      {{ $bg := .Resources.GetMatch "painting.jpg" }}
      {{ $bg1jpg := $bg.Fit "420x500 jpg q86" }}
      {{ $bg1webp := $bg.Fit "420x500 webp q86" }}
      {{ $bg2jpg := $bg.Fit "1680x2000 jpg q86" }}
      {{ $bg2webp := $bg.Fit "1680x2000 webp q86" }}


      <style>
        #wrapper > .bg {
          background-image: image-set(
            "{{ $bg1webp.RelPermalink }}" type("image/webp") 1x,
            "{{ $bg2webp.RelPermalink }}" type("image/webp") 2x,
            "{{ $bg1jpg.RelPermalink }}" type("image/jpg") 1x,
            "{{ $bg2jpg.RelPermalink }}" type("image/jpg") 2x
          );
          background-color: #000;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
      </style>
    {{ end }}
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}

    <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?101772706&data_platform=singleproduct_v2" charset="utf-8"></script>

    <script type="text/javascript">
      function trackInterest() {
        fbq('track', 'Search', {
          content_category: 'Artwork',
          content_name: '{{- .Title -}}',
          content_ids: [{{ range $product := .Params.products }}'{{ $product.id }}',{{ end }}],
          content_type: 'product_group',
          {{ if .Params.products }}
            {{ $first := index (.Params.products) 0 }}
            value: {{ trim $first.price "$" }},
            currency: 'USD',
          {{ end }}
        });
        rdt('track', 'Search');
        pintrk('track', 'search', {
          search_query: 'Artwork'
        });

        fbq('trackCustom', 'ClickAction');
        rdt('track', 'Custom', { customEventName: 'Click Action' });
        pintrk('track', 'action');
        gtag('event', 'click_action', {});
      }

      var element = document.getElementById('purchase');
      var elementHeight = element.clientHeight;
      var hitEnd = false;

      function inView() {
        var windowHeight = window.innerHeight;
        var scrollY = window.scrollY || window.pageYOffset;
        
        var scrollPosition = scrollY + windowHeight;
        var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;
        
        if (scrollPosition > elementPosition) {
          return true;
        }
        
        return false;
      }

      function trackEnd() {
        fbq('trackCustom', 'ViewProduct', {
          content_category: 'Artwork',
          content_name: '{{- .Title -}}',
          content_ids: [{{ range $product := .Params.products }}'{{ $product.id }}',{{ end }}],
          {{ if .Params.products }}
            {{ $first := index (.Params.products) 0 }}
            value: {{ trim $first.price "$" }},
            currency: 'USD',
          {{ end }}
        });
        rdt('track', 'Custom', { customEventName: 'View Product' });
        pintrk('track', 'scroll');
        gtag('event', 'view_product', {});
      }

      function watchScroll() {
        if (inView() && !hitEnd) {
          hitEnd = true;
          trackEnd();
        }
      }

      document.addEventListener('scroll', watchScroll);

      function trackProduct(id, name, value) {
        fbq('trackCustom', 'ClickProduct', {
          content_category: 'Artwork',
          content_name: name,
          content_ids: [id],
          content_type: 'product',
          value: value,
          currency: 'USD',
        });
        rdt('track', 'Custom', { customEventName: 'Click Product' });
        pintrk('track', 'product');
        gtag('event', 'click_product', {});
      }

      document.addEventListener("DOMContentLoaded", () => {
        xProduct();

        fbq('trackCustom', 'ViewPainting', {
          content_category: 'Artwork',
          content_name: '{{- .Title -}}',
        });
        rdt('track', 'Custom', { customEventName: 'View Painting' });
        pintrk('track', 'view');
        gtag('event', 'view_painting', {});
      });
    </script>
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
    <div id="wrapper">
      
				<!-- Intro -->
        <div id="intro">
          <h1>{{- .Title -}}</h1>
          <p>
            {{ .Description }}
          </p>
          <ul class="actions">
              <li><a href="#post" class="button big wide scrolly">See More</a></li>
          </ul>
      </div>

      {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

      {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

    <div id="main">
        <section class="post" id="post">
          <header class="major">
            <span class="date">
              {{ if not .Date.IsZero }}
                <time class="date" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
                  <em>{{- .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}</em>
                </time>
              {{ end }}
            </span>

            <h2 id="title" style="font-size:3em;">{{ .Title }}</h2>

            {{ if .Resources.GetMatch "painting.jpg" }}
              <section style="text-align:center;">
                {{ $full := .Resources.GetMatch "painting.jpg" }}
                {{ $full := $full.Fit "1600x1600 webp q86" }}

                {{ $large := .Resources.GetMatch "painting.jpg" }}
                {{ $large := $large.Fit "1200x1200 webp q86" }}

                {{ $mid := .Resources.GetMatch "painting.jpg" }}
                {{ $mid := $mid.Fit "800x800 webp q86" }}

                {{ $small := .Resources.GetMatch "painting.jpg" }}
                {{ $small := $small.Fit "400x400 webp q86" }}

                {{ $top := .Resources.GetMatch "painting.jpg" }}
                {{ $top := $top.Fit "3200x3200 q100" }}

                <a class="painting preview" href="{{ $top.RelPermalink }}" data-gall="progress" data-position="center" title="{{ .Title }} by {{ .Params.author | default .Site.Params.author }}">
                  <div class="loader" style="url('/images/loader.gif') center no-repeat;" itemscope itemtype="https://schema.org/ImageObject">
                    
                    <img class="image fit"
                      src="{{ $small.RelPermalink }}"
                      srcset="{{ $small.RelPermalink }} 400w,
                              {{ $mid.RelPermalink }} 800w,
                              {{ $large.RelPermalink }} 1200w,
                              {{ $full.RelPermalink }} 1600w,
                              {{ $top.RelPermalink }} 3200w"
                      alt="{{ .Params.alt }}"
                      title='{{ .Title }} ({{ .Date| time.Format "2006" }}) by Ben Young'
                      itemprop="contentUrl">
                    
                    <div style="display:none; height:0;">
                      <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
                        <meta itemprop="name" content="{{ .Params.author }}" />
                      </span>
                      <span itemprop="copyrightNotice">
                        {{ with $.Site.Copyright | default $.Site.Title }}
                          &copy;
                          {{ $.Date | time.Format "2006" }}
                          {{ . | safeHTML }}
                          All rights reserved.
                        {{ end }}
                      </span>
                      <span itemprop="creditText">{{ $.Site.Copyright }}</span>
                    </div>
                  </div>
                </a>
              </section>

              <p>
                {{ .Title }}.
                {{ title (index (.Params.mediums) 0) | default "Paint" }}
                on {{ title (index (.Params.materials) 0) | default "Canvas" }}.
                {{ .Params.size }}.
                {{ .Params.author }}.
                <br>
                <a class="preview" href="{{ $full.RelPermalink }}">Click Image to View Full Screen</a>
              </p>
            {{ end }}
          </header>

            <article>
              {{ if .Resources.GetMatch "painting.jpg" }}
                <h2 id="about">
                  About The {{ title (index (.Params.mediums) 0) }} Painting
                </h2>
              {{ end }}

              {{- .Content -}}

              {{ if .Params.progress}}
                <div>
                  <h2>Artwork Process</h2>
                  <p>{{ .Params.progress }}</p>

                  {{ if .Page.Resources.Match "process/*.jpg" }}
                    <p>Here is a visual overview of the process:</p>
                    <ul style="list-style:none; text-align:center; margin-bottom:0;">
                      {{ with $files := .Page.Resources.Match "process/*.jpg" }}
                          {{ range $index, $file := $files }}
                              {{ $full := $file.Fit "800x800" }}
                              {{ $thumbnail := $file.Fill "90x90 Center q85" }}
                              <li style="display:inline-block;">
                                  <a class="preview" href="{{ $full.RelPermalink }}" data-gall="progress">
                                      <img style="background: #000 url('/images/loader.gif') center no-repeat;" src="{{ $thumbnail.RelPermalink }}" width="90px" height="90px" loading="lazy" alt="Progress step {{ add $index 1 }}" title="Progress step {{ add $index 1 }}">
                                      <br>
                                      Step {{ add $index 1 }}
                                  </a>
                              </li>
                          {{ end }}
                      {{ end }}
                    </ul>
                    {{ end }}
                </div>
              {{ end }}

              <br>

              {{ if .Params.location }}
                <div>
                  <h2>Scene Location Information</h2>
                  <p>{{ .Params.location }}</p>
                </div>
              {{ end }}

              {{ if in .Params.locations "massmu" }}
                <h2>Where To Visit</h2>
                <p>
                  The <strong>original painting</strong> is currently on display at the
                  <a href="https://www.massillonmuseum.org" onclick="fbq('track', 'FindLocation');" target="_blank">
                    Massillon Museum
                  </a>
                  in Massillon Ohio, and can be viewed there.
                  The address is
                  <a href="https://maps.app.goo.gl/LNEqdnnnmoeMoV5TA" onclick="fbq('track', 'FindLocation');" target="_blank">
                    121 Lincoln Way E, Massillon, OH 44646.
                  </a>
                </p>
              {{ end }}

              {{ if in .Params.locations "juilliard" }}
                <h2>Where To Visit</h2>
                <p>
                  The <strong>original painting</strong> is currently on display at
                  <a href="https://www.juilliardartscenter.com" onclick="fbq('track', 'FindLocation');" target="_blank">
                    Juilliard Arts Center
                  </a>
                  in Canton Ohio, and can be viewed there.
                  The address is
                  <a href="https://maps.app.goo.gl/soooHgSYbZiKUUjd7" onclick="fbq('track', 'FindLocation');" target="_blank">
                    600 Market Ave N, Canton, OH 44702.
                  </a>
                </p>
              {{ end }}

              {{ if in .Params.locations "bztat" }}
                <h2>Where To Visit</h2>
                <p>
                  The <strong>original painting</strong> is currently on display at
                  <a href="http://bztatstudios.com" onclick="fbq('track', 'FindLocation');" target="_blank">
                    BZTAT STudios
                  </a>
                  in Canton Ohio, and can be viewed there.
                  The address is
                  <a href="https://maps.app.goo.gl/ZP3mWY4MsbtKQMJz6" onclick="fbq('track', 'FindLocation');" target="_blank">
                    730 Market Ave S, Canton, OH 44702
                  </a>
                </p>
              {{ end }}

              {{ if in .Params.locations "summit" }}
                <h2>Where To Visit</h2>
                <p>
                  The <strong>original painting</strong> is currently on display at
                  <a href="http://summitartspace.org/" onclick="fbq('track', 'FindLocation');" target="_blank">
                    Summit Artspace
                  </a>
                  in Akron Ohio, and can be viewed there.
                  The address is
                  <a href="https://maps.app.goo.gl/o2kKwGuyiAsge4ou6" onclick="fbq('track', 'FindLocation');" target="_blank">
                    140 E Market Street, Akron OH 44308
                  </a>
                </p>
              {{ end }}

              {{ if in .Params.locations "whiterabbit" }}
                <h2>Where To Visit</h2>
                <p>
                  The <strong>original painting</strong> is currently on display at
                  <a href="https://www.whiterabbitgalleries.org" onclick="fbq('track', 'FindLocation');" target="_blank">
                    White Rabbit Galleries
                  </a>
                  in Barberton Ohio, and can be viewed there.
                  The address is
                  <a href="https://maps.app.goo.gl/YBzipfseE6uAhv5q6" onclick="fbq('track', 'FindLocation');" target="_blank">
                    571 West Tuscarawas Ave, Barberton OH 44203
                  </a>
                </p>
              {{ end }}

              {{ if in .Params.locations "culturalcenter" }}
                <h2>Where To Visit</h2>
                <p>
                  The <strong>original painting</strong> is currently on display at the
                  <a href="https://culturalcenterforthearts.com" onclick="fbq('track', 'FindLocation');" target="_blank">
                    Canton Cultural Center for the Arts
                  </a>
                  in Canton Ohio, and can be viewed there.
                  The address is
                  <a href="https://maps.app.goo.gl/ivp131RqEEK3owQq8" onclick="fbq('track', 'FindLocation');" target="_blank">
                    1001 Market Ave N, Canton, OH 44702
                  </a>
                </p>
              {{ end }}

              {{ if in .Params.locations "door2art" }}
                <h2>Where To Visit</h2>
                <p>
                  The <strong>original painting</strong> is currently on display at
                  <a href="https://www.door2art.com" onclick="fbq('track', 'FindLocation');" target="_blank">
                    Door 2 Art
                  </a>
                  in Hudson Ohio, and can be viewed there.
                  The address is
                  <a href="https://maps.app.goo.gl/wFfVVFcgkWc3rrDt6" onclick="fbq('track', 'FindLocation');" target="_blank">
                    5374 Darrow Rd, Hudson, OH 44236
                  </a>
                </p>
              {{ end }}

              {{ if in .Params.locations "door2art" }}
                <h2>Where To Visit</h2>
                <p>
                  The <strong>original painting</strong> is currently on display at
                  <a href="https://www.thehubcanton.com" onclick="fbq('track', 'FindLocation');" target="_blank">
                    The Hub Art Factory
                  </a>
                  in Canton Ohio, and can be viewed there.
                  The address is
                  <a href="https://maps.app.goo.gl/mcBm1Wfsyoor8ALz9" onclick="fbq('track', 'FindLocation');" target="_blank">
                    336 6th St NW, Canton, OH 44702
                  </a>
                </p>
              {{ end }}

              {{ if in .Params.locations "door2art" }}
                <h2>Where To Visit</h2>
                <p>
                  The <strong>original painting</strong> is currently on display at the
                  <a href="https://www.bryndu.com" onclick="fbq('track', 'FindLocation');" target="_blank">
                    Bryn Du Mansion
                  </a>
                  in Granville Ohio, and can be viewed there.
                  The address is
                  <a href="https://maps.app.goo.gl/TPYb3ncUktvwQdFu6" onclick="fbq('track', 'FindLocation');" target="_blank">
                    537 Jones Rd NE, Granville, OH 43023
                  </a>
                </p>
              {{ end }}

              {{ if or (eq .Params.status "sale") (eq .Params.status "sold") }}
                <article id="purchase" class="clear">
                  <div class="box clear" style="background-color: #eee;">
                    <h2 style="text-align: center;">
                      🛒 Purchase {{ .Title }} 🛒
                    </h2>

                    {{ if $.Site.Params.sale }}
                      <p style="font-size:0.9em; margin-bottom:0.5em;">
                        <strong>Newsletter Discount:</strong>
                        Sign up for my artist newsletter to receive a <strong style="color:red;">20% OFF</strong> discount code for your first order.
                        Plus receive exclusive updates and offers.
                        <span id="addcountdown"></span>
                        <strong><a href="/sign-up?artwork={{ .Title }}&driven=discount">Click to Sign Up &gt;</a></strong>
                      </p>
                      <br>

                      <script>
                        // Insert the date two days from today in id addcountdown
                        var date = new Date();
                        date.setDate(date.getDate() + 2);
                        var countdown = document.getElementById("addcountdown");

                        // set formattedcountdown to format like May 13th from countdown
                        var formattedcountdown = date.toLocaleDateString("en-US", {
                          month: 'long',
                          day: '2-digit'
                        });

                        countdown.innerHTML = "Offer ends <u>" + formattedcountdown + "</u>.";
                      </script>
                    {{ end }}

                    <div class="row" style="text-align: center;">
                      {{ range $product := .Params.products }}
                        <div class="col-4 col-12-small">

                          <a href="/shop/#!/p/{{ $product.id }}" onclick="trackProduct('{{ $product.id }}', '{{ $product.name }}', '{{ trim $product.price "$" }}')">
                            <div class="ecsp ecsp-SingleProduct-v2 ecsp-SingleProduct-v2-bordered ecsp-SingleProduct-v2-centered ecsp-Product ec-Product-{{ $product.id }}" itemscope itemtype="http://schema.org/Product" data-single-product-id="{{ $product.id }}" style="display:inline-block; background-color:#fff;">
                              {{ $pcon := $.Resources.GetMatch "painting.jpg" }}
                              {{ $pcon := $pcon.Fit "400x400 webp q85" }}
                              <div itemprop="image" content="{{ $pcon.RelPermalink }}"></div>

                              <div class="ecsp-title" itemprop="name" content="{{ .Title }} {{ $product.name }}"></div>

                              <div itemtype="http://schema.org/Offer" itemscope itemprop="offers">
                                <link itemprop="url" href="/shop/#!/p/{{ $product.id }}" />
                                {{ if not $product.sold }}
                                  <meta itemprop="availability" content="https://schema.org/InStock" />
                                {{ end }}
                                {{ $price := trim $product.price "$" }}
                                {{ $price = replace $price "," "" }}
                                <div class="ecsp-productBrowser-price ecsp-price" itemprop="price" content="{{ printf "%.2f" (float $price) }}">
                                  <div itemprop="priceCurrency" content="USD"></div>
                                </div>
                              </div>
                            </div>
                          </a>

                          <div>
                            {{ if $product.sold }}
                              <strong style="color: red; text-transform: uppercase;">Sold Out</strong>
                            {{ else if $product.left }}
                              <strong style="color: orange; text-transform: uppercase;">
                                Only
                                <span class="ecsp-productBrowser-qty ecsp-qty" itemprop="quantity" content="{{ $product.left }}">
                                  {{ $product.left }}
                                </span>
                                Left of
                                {{ if $product.limited }}
                                  {{ $product.limited }}
                                {{ else }}
                                  {{ $.Params.limited }}
                                {{ end }}
                              </strong>
                            {{ else }}
                              <strong style="color: green; text-transform: uppercase;">For Sale</strong>
                            {{ end }}
                          </div>

                          <a class="button fit {{ if $product.sold }}secondary{{ else }}primary{{ end }} clear"
                            href="/shop/#!/p/{{ $product.id }}"
                            onclick="trackProduct('{{ $product.id }}', '{{ $product.name }}', '{{ trim $product.price "$" }}')">
                              View {{ $product.name }}
                          </a>
                          <br>
                          <br>
                        </div>
                      {{ end }}
                    </div>
                  </div>
                </article>
              {{ end }}

              {{ if .Resources.GetMatch "painting.jpg" }}
              <h2>Tags</h2>
              <p>
                {{- partial "tags.html" . -}}
              </p>
            {{ end }}
          </article>

            <br>

            <div class="next-post" style="float:left;">
              {{ if .Next }}
                <a class="link-reverse" href="{{ .Next.Permalink }}">« {{ .Next.Title | truncate 50 "..." }}</a>
              {{ end }}
            </div>
            
            <div class="previous-post" style="float:right;">
              {{ if .Prev }}
                <a class="link-reverse" href="{{ .Prev.Permalink }}">{{ .Prev.Title | truncate 50 "..."}} »</a>
              {{ end }}
            </div>
        </section>

        {{ if .Resources.GetMatch "painting.jpg" }}
          <aside class="w-30-l mt6-l">
            {{- partial "menu-contextual.html" . -}}

            <p style="text-align:center;"><strong><a href="/featured">View All Artwork &gt;</a></strong></p>
          </aside>
        {{ end }}
    </div>

    {{ block "footer" . }}
      {{ partialCached "inside-footer.html" . }}
    {{ end }}
  </div>
  
{{ end }}