{{ define "styles" }}
    {{ partial "inside-style.html" . }}
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}

    <script>
      fbq('track', 'ViewContent');
    </script>
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
    <div id="wrapper">
      <!-- Do NOT remove inline styles on bg below -->
      <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

    {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

    {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

    <div id="main">
        <section class="post">
          {{ if .IsPage }}
            <nav class="breadcrumbs">
              <a href="{{ .Site.BaseURL }}#{{ trim .Title " -" | safeURL }}" class="link blue hover-black">Home</a>
              <span class="mh1">/</span>
              <a href="{{ .CurrentSection.RelPermalink }}#{{ trim .Title " -" | safeURL }}" class="link blue hover-black">{{ .CurrentSection.Title }}</a>
              <span class="mh1">/</span>
              <a href="{{ .RelPermalink }}" class="link blue hover-black">{{ .Title }}</a>
            </nav>
          {{ end }}
            <br>
            <header class="major">
                <h1>{{- .Title -}}</h1>
            </header>

            <section style="text-align:center;">
              {{ $full := .Resources.GetMatch "painting.jpg" }}
              {{ $full := $full.Fit "800x800 webp q85" }}

              {{ $top := .Resources.GetMatch "painting.jpg" }}
              {{ $top := $top.Fit "1600x1600 q100" }}

              <a class="painting preview" href="{{ $top.RelPermalink }}" data-gall="progress" data-position="center" style="display:block; border:#000 4px outset; box-shadow:0 0 30px rgba(0, 0, 0, 0.8); padding:0; background:#000; position:relative; z-index:2;" title="{{ .Title }} by {{ .Params.author | default .Site.Params.author }}">
                <div class="frame" style="border:#111 3vw solid; box-shadow:inset 0 0 30px rgba(0, 0, 0, 1);">
                  <div class="frame-inside" style="border:#000 4px inset; position:relative; z-index:-1;">
                    <div class="mat" style="background:#fff; border:#fff 6vw solid; line-height:0.5em;">
                      <br class="clear" style="clear:both;">
                      
                      <img class="canvas" src="{{ $full.RelPermalink }}" width="800" height="800" style="display:block; width:100%; height:auto;" alt="{{ .Params.alt }}" title='{{ .Title }} ({{ .Date| time.Format "2006" }}) by Ben Young'>
                      
                      <br class="clear" style="clear:both;">

                      <div class="info" style="font-size:0.5em; width:100%; line-height:1.5em;">
                        <div class="author" style="float:left; text-align:left; width:50%; padding:0 0.5em;">
                          <strong class="title" style="font-size:1.2em;">
                            {{ .Params.author | default .Site.Params.author }}
                          </strong>
                          <br>
                          American, 1990 - Current
                        </div>

                        <div class="description" style="float:right; text-align:right; width:50%; padding:0 0.5em;">
                          <span class="title" style="font-size:1.2em;">
                            <strong>
                              {{ .Title }}
                            </strong>
                            (
                            <em>
                              {{ .Date | time.Format (default "2006" .Site.Params.date_format) }}
                            </em>
                            )
                          </span>
                          <br>
                          {{ .Params.medium }} on {{ .Params.material }}
                        </div>
                      </div>

                      <br class="clear" style="clear:both;">
                    </div>
                  </div>
                </div>
              </a>

              <br>

            </section>

            <article>
              <h2 id="about">About the {{ .Title }} Painting</h2>

              <a href="/about">
                <img class="benprolite" width="150px" height="150px" src="/images/ben-small.webp" alt="Photo of Benjamin J. Young" title="Ben Young">
              </a>

              <p>
                {{ if not .Date.IsZero }}
                  <time class="date" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
                    <em>{{- .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}</em>
                  </time>
                {{ end }}
              </p>

              {{- .Content -}}

              <hr>

              {{ if or (eq .Params.status "sale") (eq .Params.status "sold") }}
                <h2 id="purchase">Purchase Artwork</h2>
                
                {{ $original := index (.Params.products) 0 }}

                <p style="line-height:1.5em;">
                  <strong style="color:red; font-family:Arial, Helvetica, sans-serif; font-weight:bold;">LIMTED SALE:</strong>
                  Save site-wide with a <strong>LIMITED TIME DISCOUNT</strong> on all products, including <strong>FREE SHIPPING</strong> on domestic orders!
                  <span id="holiday"></span>
                  <br>
                  <br>
                  <strong style="font-family:Arial, Helvetica, sans-serif;">Sale Time Left:</strong>
                  <span id="countdown" style="background:yellow; color:navy; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding:0.5em;">4 hours, 20 minutes</span>
                </p>
                <script>
                  function pad(d) {
                    return (d < 10) ? '0' + d.toString() : d.toString();
                  }

                  var now = new Date();
                  var start = new Date(now.getFullYear(), 0, 0);
                  var diff = (now - start) + ((start.getTimezoneOffset() - now.getTimezoneOffset()) * 60 * 1000);
                  var oneDay = 1000 * 60 * 60 * 24;
                  var day = Math.floor(diff / oneDay);

                  var holiday = 'Dec 31';
                  var datestring = '';

                  if (day <= 15) {
                    var holiday = 'In celebration of the New Year, get some new artwork!';
                    var datestring = 'Jan 15';
                  } else if (day <= 31) {
                    var holiday = '';
                    var datestring = 'Feb 1';
                  } else if (day <= 46) {
                    var holiday = 'Buy something for a Valentines gift!';
                    var datestring = 'Feb 15';
                  } else if (day <= 60) {
                    var holiday = '';
                    var datestring = 'Mar 1';
                  } else if (day <= 78) {
                    var holiday = 'Save for St. Patricks Day.';
                    var datestring = 'Mar 18';
                  } else if (day <= 81) {
                    var holiday = 'Save for upcoming spring, in my Spring Cleaning sale!';
                    var datestring = 'Mar 21';
                  } else if (day <= 110) {
                    var holiday = 'Save for an Easter gift.';
                    var datestring = 'Apr 20';
                  } else if (day <= 113) {
                    var holiday = 'Save for Earth Day and we give back to offset carbon footprint.';
                    var datestring = 'Apr 23';
                  } else if (day <= 129) {
                    var holiday = 'Just in time for Mothers Day.';
                    var datestring = 'May 9';
                  } else if (day <= 171) {
                    var holiday = 'Save just in time for Fathers Day and get dad something truly unique.';
                    var datestring = 'Jun 20';
                  } else if (day <= 173) {
                    var holiday = 'Save for the upcoming summer.';
                    var datestring = 'Jun 22';
                  } else if (day <= 259) {
                    var holiday = 'Back to school sale!';
                    var datestring = 'Sep 16';
                  } else if (day <= 266) {
                    var holiday = 'Celebrate the upcoming Autumn with my festive artwork.';
                    var datestring = 'Sep 23';
                  } else if (day <= 283) {
                    var holiday = 'Save and give back for World Mental Health Day.';
                    var datestring = 'Oct 10';
                  } else if (day <= 335) {
                    var holiday = 'Black Friday Savings, for the month of November!';
                    var datestring = 'Dec 1';
                  } else if (day <= 362) {
                    var holiday = 'December Multi-Holiday Sale!';
                    var datestring = 'Dec 27';
                  } else if (day <= 366) {
                    var holiday = 'New Years, New Savings!';
                    var datestring = 'Jan 15';
                  }

                  holiday += " Use coupon code '<strong><em>VOZW20NB3YRK</em></strong>' at checkout for a further <strong>20%</strong> discount on any originals.";

                  datestring += ', ' + now.getFullYear();
                  
                  var countDownDate = new Date(datestring).getTime();

                  var x = setInterval(function() {
                    var now = new Date().getTime();
                    var distance = countDownDate - now;

                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = pad(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
                    var seconds = pad(Math.floor((distance % (1000 * 60)) / 1000));

                    document.getElementById("countdown").innerHTML = days + " Days, " + hours + ":"
                      + minutes + ":" + seconds + " Hours";

                    if (distance < 0) {
                      clearInterval(x);
                      document.getElementById("countdown").innerHTML = "EXPIRED";
                    }
                  }, 1000);

                  document.getElementById('holiday').innerHTML = holiday;
                </script>

                <div id="my-store-101772706"></div>
                <div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?101772706&data_platform=code&data_date=2024-05-05" charset="utf-8"></script>
                <script type="text/javascript"> 
                  window.ec=window.ec||{}; 
                  window.ec.config = window.ec.config || Object();
                  window.ec.config.navigation_scrolling = "DISABLED";
                  window.ec.storefront=window.ec.storefront||{}; 
                  window.ec.storefront.enable_navigation=true;
                  window.ec.storefront.product_details_layout="TWO_COLUMNS_SIDEBAR_ON_THE_RIGHT";
                  window.ec.storefront.product_details_gallery_layout="SINGLE_IMAGE";
                  window.ec.storefront.product_details_two_columns_with_right_sidebar_show_product_description_on_sidebar=true;
                  window.ec.storefront.product_details_two_columns_with_left_sidebar_show_product_description_on_sidebar=false;
                  window.ec.storefront.product_details_show_product_name=true;
                  window.ec.storefront.product_details_show_breadcrumbs=false;
                  window.ec.storefront.product_details_show_product_sku=false;
                  window.ec.storefront.product_details_show_product_price=true;
                  window.ec.storefront.product_details_show_in_stock_label=false;
                  window.ec.storefront.product_details_show_number_of_items_in_stock=false;
                  window.ec.storefront.product_details_show_qty=false;
                  window.ec.storefront.product_details_show_wholesale_prices=false;
                  window.ec.storefront.product_details_show_product_options=true;
                  window.ec.storefront.product_details_show_product_description=true;
                  window.ec.storefront.product_details_show_delivery_time=undefined;
                  window.ec.storefront.product_details_show_share_buttons=false;
                  window.ec.storefront.product_details_position_product_name=100;
                  window.ec.storefront.product_details_position_breadcrumbs=200;
                  window.ec.storefront.product_details_position_product_sku=300;
                  window.ec.storefront.product_details_position_product_price=400;
                  window.ec.storefront.product_details_position_product_options=undefined;
                  window.ec.storefront.product_details_position_buy_button=600;
                  window.ec.storefront.product_details_position_wholesale_prices=700;
                  window.ec.storefront.product_details_position_product_description=800;
                  window.ec.storefront.product_details_position_delivery_time=undefined;
                  window.ec.storefront.product_details_position_share_buttons=900;
                  window.ec.storefront.product_details_position_subtitle=500;
                  window.ec.storefront.product_details_show_subtitle=true;
                  xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","defaultProductId={{ $original.id }}","defaultSlug={{ .Slug }}-original","id=my-store-101772706");
                </script>
                </div>
              {{ end }}
            </article>
        </section>

        <aside class="w-30-l mt6-l">
          {{- partial "menu-contextual.html" . -}}

          <p style="text-align:center;"><strong><a href="/artwork">View All Artwork &gt;</a></strong></p>
        </aside>
    </div>

    {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
  </div>
  
{{ end }}
