{{ define "styles" }}
    {{ partial "inside-style.html" . }}
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}
{{ end }}

{{ define "main" }}
  <script>
    fbq('track', 'Search', {
      content_category: 'Category',
      content_name: 'Taxonomy',
      search_string: '{{- .Title -}}',
      content_ids: [{{ range $page := .Pages }}{{ if $page.Params.products }}'{{ (index ($page.Params.products) 0).id }}',{{ end }}{{ end }}],
      content_type: 'product_group'
    });
    rdt('track', 'Search');
    pintrk('track', 'search', {
      search_query: 'Taxonomy'
    });
  </script>

  <div id="wrapper">
    <!-- Do NOT remove inline styles on bg below -->
    <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

    {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

    {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

    <div id="main">
        <section class="post">
          <header class="major">
            <h1>{{ .Title }} Artwork</h1>
            <p>{{ .Description }}</p>
          </header>

          <article class="cf pa3 pa4-m pa4-l">
            <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
              <p>{{ i18n "taxonomyPageList" . }}</p>
            </div>

            <a class="button" href="/artwork#main">&lt; Back To All Artwork</a>
          </article>

          <hr>

          <div class="mw8 center">
            <section class="flex-ns flex-wrap justify-around mt5">
              {{ range  .Pages }}
                <div class="relative w-100  mb4 bg-white">
                  {{ .Render "summary" }}
                </div>
              {{ end }}
            </section>
          </div>
        </section>
    </div>

    {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
  </div>
  
{{ end }}
