{{ define "styles" }}
    {{ partial "inside-style.html" . }}
{{ end }}

{{ define "scripts" }}
    {{ partial "inside-scripts.html" . }}

    <script>
      fbq('track', 'Search', {
        content_category: 'Category',
        content_name: 'Terms'
      });

      pintrk('track', 'search', {
        search_query: 'Terms'
      });
    </script>

    <script src="https://cdn.anychart.com/releases/8.12.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.12.1/js/anychart-tag-cloud.min.js"></script>
{{ end }}

{{ define "main" }}
    <div id="wrapper">
      <!-- Do NOT remove inline styles on bg below -->
      <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

    {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

    {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}


    <div id="main">
        <section class="post">
          <article class="cf pa3 pa4-m pa4-l">
            <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
              <h1>{{ .Title }}</h1>
              <p>{{ .Content }}</p>
              <p>Here is a list of all repeated tags, sorted by most used:</p>
            </div>
          </article>
          <div class="mw8 center">
            <div id="chart" style="width:100%; height:600px;"></div>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    var data = [
                      {{ range .Data.Terms.ByCount }}
                          {{ if gt .Count 1 }}
                              {x: "{{ .Page.Title }}", value: {{ .Count }}, link: {{ .Page.Permalink }} },
                          {{ end }}
                      {{ end }}
                    ];

                    // create a chart and set the data
                    chart = anychart.tagCloud(data);

                    // set the container id
                    chart.container("chart");

                    chart.mode("spiral");
                    chart.angles([0]);

                    // create and configure a color scale.
                    var customColorScale = anychart.scales.linearColor();
                    customColorScale.colors(["#ffcc00", "#00ccff"]);

                    // set the color scale as the color scale of the chart
                    chart.colorScale(customColorScale);

                    // add and configure a color range
                    chart.colorRange().enabled(true);
                    chart.colorRange().length("90%");

                    chart.listen("pointClick", function(e){
                        var url = e.point.get("link");
                        window.open(url, "_blank");
                    });

                    // initiate drawing the chart
                    chart.draw();
                });
            </script>
            <section class="ph4">
              <ul>
                {{ range .Data.Terms.ByCount }}
                  {{ if gt .Count 1 }}
                    <li style="display: inline-block; list-style: none;">
                      <a class="button" style="margin: 0.5em 0;" href="{{ .Page.Permalink }}#main">
                        {{ .Page.Title }}
                        <span class="count" style="color:gray;">
                          ({{ .Count }})
                        </span>
                      </a>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            </section>
          </div>
        </section>
    </div>

    {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
  </div>
  
{{ end }}
