<div class="box alt">
    <div class="row gtr-50 gtr-uniform">
        <div class="col-3"><span class="image fit"><img src="/images/ben-tennis.jpg" alt="Ben playing tennis" title="Ben playing tennis"></span></div>
        <div class="col-3"><span class="image fit"><img src="/images/ben-cycling.jpg" alt="Ben cycling" title="Ben cycling"></span></div>
        <div class="col-3"><span class="image fit"><img src="/images/ben-tennis2.jpg" alt="Ben hitting a tennis ball" title="Ben hitting a tennis ball"></span></div>
        <div class="col-3"><span class="image fit"><img src="/images/ben-posing.jpg" alt="Ben posing with his bicycle" title="Ben posing with his bicycle"></span></div>
    </div>
</div>