{{ if (.Get "painting") }}
    {{ $posts := slice }}
    {{ range .Site.RegularPages }}
        {{ if eq .RelPermalink ($.Get "painting") }}
            {{ $posts = $posts | append . }}
        {{ end }}
    {{ end }}

    {{ range $posts }}
        {{ if ($.Get "col") }}<div class="col-{{ $.Get "col" }}"><span class="image fit">{{ end }}
            <a class="thumbnail" href="{{ .RelPermalink }}" title='{{ .Title }}'>
                {{ $thumbnail := .Resources.GetMatch "painting.jpg" }}
                {{ $thumbnail := $thumbnail.Fill "400x400 Center" }}
                {{ $thumbnail := $thumbnail.Resize "400x webp q90" }}

                <img style="background: #000 url('/images/loader.gif') center no-repeat;" src="{{ $thumbnail.RelPermalink }}" loading="lazy" alt="{{- .Title -}}" title='{{ .Title }}' />
            </a>
        {{ if ($.Get "col") }}</span></div>{{ end }}
    {{ end }}
{{ end }}