{{ define "main" }}
    {{ $full := .Resources.GetMatch (printf "%spainting.jpg" (replace .File.Dir "story/" "")) }}
    {{ if $full}}
        {{ $full := $full.Fit "1600x1600 webp q96" }}
    {{ end }}
    <section class="banner style1 content-align-left image-position-center - orient-right">
        <div class="content">
            <div class="logo align-center">
                <a href="/" aria-label="Home Page">
                    <img src="/images/logo.webp" title="Artist Ben Young" alt="Artist Ben Young">
                </a>
                <h1>
                    <h1>{{- .Title -}}</h1>
                </h1>
            </div>
            <p class="major">
                {{- .Summary -}}
            </p>
            <ul class="actions special">
                {{ if $full }}
                    <li class="gallery lightbox">
                        <a href="{{ $full.RelPermalink }}" class="button big wide">
                            View Painting
                        </a>
                    </li>
                {{ end }}
                <li><a href="#more" class="button big wide smooth-scroll-middle">Learn More</a></li>
            </ul>
        </div>

        {{ if $full }}
            {{ $medium := $full.Fit "1200x1200 webp q96" }}
            {{ $small := $full.Fit "600x600 webp q96" }}
            <div class="image">
                <img src="{{ $small.RelPermalink }}" fetchpriority="high"  srcset="{{ $small.RelPermalink }} 500w, {{ $medium.RelPermalink }} 1000w, {{ $full.RelPermalink }} 1500w" alt="{{ .Params.subtitle }}" />
            </div>
        {{ end }}
    </section>

    <section id="more" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
        <div class="content">
            <h2>{{- .Params.Subtitle -}}</h2>
            <p>
                {{- replace .Content .Summary "" | safeHTML -}}
            </p>

            
            <ul class="actions">
                {{ if .Params.products }}
                    <li>
                        <a href="#purchase" class="button big wide smooth-scroll" onclick="trackInterest()">
                            Purchase Artwork
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>

        {{ if (.Resources.GetMatch (printf "%sside.jpg" (replace .File.Dir "story/" ""))) }}
            <div class="image">
                {{ $side := .Resources.GetMatch (printf "%sside.jpg" (replace .File.Dir "story/" "")) }}
                {{ $side := $side.Fit "1024x1024 webp q90" }}

                <img src="{{ $side.RelPermalink }}" alt="">
            </div>
        {{ end }}
    </section>

    <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
        <div class="content">
            <h2>About the Artist</h2>
            <p>
                Ben Young is a contemporary fine artist originally from Appalachia, Ohio.
                Originally a Software Engineer, he began painting in watercolor and oil less than two years ago, and his work has quickly gained attention for its emotional depth and storytelling.
                Each piece is a personal narrative, rooted in lived experience and expressed through a sensitive, evocative style.
                Each piece touches on themes of loss, love, family, and resilience, often drawing from his own life, including the tragic loss of his fiancée and journey it took to overcome those emotional burdens.
                His paintings resonate with collectors drawn to authenticity, vulnerability, and a fresh, emerging voice in American art.
            </p>
            
            <h3>Newsletter Discount</h3>
            <p>
                To learn more about artist Ben Young, his latest work, and the stories behind his paintings, we invite you to sign up for his email newsletter.
                As a thank-you, you'll receive an exclusive <strong>20% discount</strong> on all orders.
                Stay connected and be the first to access new releases, special offers, and behind-the-scenes insights.
            </p>
            <ul class="actions stacked">
                <li>
                    <a href="/sign-up?driven=discount&artwork={{ .Params.subtitle }}" class="button big wide" onclick="trackInterest()">
                        Sign Up for Newsletter 
                    </a>
                </li>
            </ul>
        </div>
        <div class="image">
            <img src="/images/banner-sm.webp" srcset="/images/banner-sm.webp 500w, /images/banner.webp 1000w, /images/banner-lg.webp 1500w" alt="Artist Ben Young" width="700px" height="700px">
        </div>
    </section>

    {{ if .Params.products }}
        <section class="wrapper style1 align-center">
            <div class="inner">
                <h2 id="purchase">Purchase Artwork</h2>
                <p>{{- .Params.buy -}}</p>

                <p class="center">
                    <strong>20% discount</strong> for anyone <a href="/sign-up?driven=discount&artwork={{ .Params.subtitle }}">subscribed up to my newsletter</a>.
                    <span id="addcountdown"></span>
                </p>

                <script>
                    // Insert the date two days from today in id addcountdown
                    var date = new Date();
                    date.setDate(date.getDate() + 4);
                    var countdown = document.getElementById("addcountdown");

                    // set formattedcountdown to format like May 13th from countdown
                    var formattedcountdown = date.toLocaleDateString("en-US", {
                    month: 'long',
                    day: '2-digit'
                    });

                    countdown.innerHTML = "Offer ends " + formattedcountdown + ".";
                </script>

                <div class="items style1 onscroll-fade-in medium">
                    {{ range $product := .Params.products }}
                        <section>
                            <h3>{{ $product.name }}</h3>
                            <div class="inner">
                                <div class="ecsp ecsp-SingleProduct-v2 ecsp-SingleProduct-v2-bordered ecsp-SingleProduct-v2-centered ecsp-Product ec-Product-{{ $product.id }}" itemscope itemtype="http://schema.org/Product" data-single-product-id="{{ $product.id }}">
                                    <div itemprop="image"></div>
                                    {{ if $product.left }}
                                        <strong style="color:orange; font-size:1.6em;">
                                            {{ $product.left }} LEFT OF {{ $product.total }}
                                        </strong>
                                    {{ end }}
                                    <div itemtype="http://schema.org/Offer" itemscope itemprop="offers">
                                        <div class="ecsp-productBrowser-price ecsp-price" itemprop="price" content="{{ $product.price }}">
                                            <div itemprop="priceCurrency" content="USD"></div>
                                        </div>
                                    </div>
                                    <div customprop="vatinprice"></div>
                                    <div customprop="options"></div>
                                    <div customprop="numberinstock"></div>
                                    <div customprop="addtobag"></div>
                                </div>
                            </div>
                        </section>
                    {{ end }}

                    <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?101772706&data_platform=singleproduct_v2" charset="utf-8"></script>
                    <script type="text/javascript">xProduct()</script>
                </div>

                <p>
                    Printed on premium archival fine art paper using only the finest archival-grade inks, these works meet the strict standards of giclée printmaking—ensuring exceptional detail, color accuracy, and fade resistance.
                    Designed to preserve the integrity of the original artwork, each reproduction is a museum-quality piece intended to be cherished for generations.
                </p>
            </div>
        </section>

        <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Commitment to Quality</h2>
                <p>
                    I take the quality of my artwork—both original pieces and limited reproductions—very seriously.
                    Every piece is created and produced with a long-term collector in mind.
                    Whether you're purchasing an original or a reproduction, I ensure that all materials meet archival standards, so your investment will stand the test of time.
                    My reproductions are produced to meet giclée-quality standards for exceptional fidelity and durability.
                </p>

                <h3>Limited Reproductions Feature:</h3>
                <ul>
                    <li>Printed on <strong>high-quality archival fine art paper</strong></li>
                    <li>Produced using archival pigment-based inks for <strong>long-lasting color</strong></li>
                    <li>Created to meet <strong>giclée printing standards</strong> for color density, detail, and accuracy</li>
                    <li>Frame options are professionally <strong>custom built</strong> and archival safe, with <strong>non-glare acrylic</strong>.</li>
                    <li>Each limited reproduction comes with a numbered <strong>Certificate of Authenticity</strong></strong></li>
                </ul>

                <h3>Original Artwork Quality:</h3>
                <ul>
                    <li>Painted with <strong>professional-grade artist materials</strong> (watercolors or oils)</li>
                    <li>All surfaces and mediums are <strong>archival and acid-free</strong></li>
                    <li>Canvas is either Duct Cotton or Linen, Watercolor Paper is always on 100% Cotton.</li>
                    <li>Framing is done to archival standards, using conservation-quality mats, backing, and UV-protective glazing when applicable</li>
                    <li>Every original is designed and finished with <strong>museum-level care</strong> and craftsmanship</li>
                </ul>

                <ul class="actions stacked">
                    <li>
                        <a href="#purchase" class="button big wide smooth-scroll"  onclick="trackInterest()">
                            View Products
                        </a>
                    </li>
                </ul>
            </div>

            {{ if (.Resources.GetMatch (printf "%sdisplay.jpg" (replace .File.Dir "story/" ""))) }}
                <div class="image">
                    {{ $side := .Resources.GetMatch (printf "%sdisplay.jpg" (replace .File.Dir "story/" "")) }}
                    {{ $side := $side.Fit "1024x1024 webp q96" }}

                    <img src="{{ $side.RelPermalink }}" alt="">
                </div>
            {{ end }}
        </section>

        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>What Collectors Are Saying</h2>
                <p>
                    Hear directly from those who have welcomed my work into their homes.
                    These heartfelt testimonials reflect the emotional connection, quality, and meaning that collectors have found in each piece.
                </p>

                <dl>
                    <dd>
                        It got here safe and sound as it was very nicely packaged.
                        It's matted, framed and on the wall.
                        We love it!
                    </dd>
                    <dt>Dave K., Michigan</dt>

                    <dd>
                        I’m very pleased with the Painting looks good in the office.
                        I will give him a five star rating!
                    </dd>
                    <dt>Victor M., Ohio</dt>

                    <dd>
                        Beautiful painting.
                        Great communication and parcel arrived in a timely fashion, thoughtfully packaged.
                    </dd>
                    <dt>Mark D., Virginia</dt>

                    <dd>
                        The painting arrived safe and sound...
                        I have already found just the right place for maximum enjoyment...
                        Thanks for the very quick and secure shipping!
                    </dd>
                    <dt>Gary S., Ohio</dt>
                </dl>

                <ul class="actions special">
                    <li>
                        <a href="#purchase" class="button big wide smooth-scroll"  onclick="trackInterest()">
                            Collect Now
                        </a>
                    </li>
                    <li>
                        <a href="/sign-up?driven=quality&artwork={{ .Params.subtitle }}" class="button" onclick="trackInterest()">
                            Get Discount
                        </a>
                    </li>
                </ul>
            </div>

            {{ if (.Resources.GetMatch (printf "%scustomer.jpg" (replace .File.Dir "story/" ""))) }}
                <div class="image">
                    {{ $side := .Resources.GetMatch (printf "%scustomer.jpg" (replace .File.Dir "story/" "")) }}
                    {{ $side := $side.Fit "800x800 webp q86" }}

                    <img src="{{ $side.RelPermalink }}" alt="">
                </div>
            {{ end }}
        </section>
    {{ end }}

    {{ if .Params.link }}
        <section id="purchase" class="wrapper style1 align-center">
            <div class="inner">
                <h2>Ready to Learn More?</h2>
                <p>
                    If you would like to learn more about the inspiration behind this piece, explore the background story, view the creative process, and access additional details, please visit the link below:
                </p>
                <ul class="actions special">
                    <li><a href="{{ .Params.link }}" class="button">Learn More</a></li>
                    <li>
                        <a href="/sign-up?driven=quality&artwork={{ .Params.subtitle }}" class="button" onclick="trackInterest()">
                            Subscribe to  Newsletter 
                        </a>
                    </li>
                </ul>
            </div>



            {{ if (.Resources.GetMatch (printf "%scollector.jpg" (replace .File.Dir "story/" ""))) }}
                <div class="image">
                    {{ $side := .Resources.GetMatch (printf "%scollector.jpg" (replace .File.Dir "story/" "")) }}
                    {{ $side := $side.Fit "800x800 webp q86" }}

                    <img src="{{ $side.RelPermalink }}" alt="">
                </div>
            {{ end }}
        </section>
    {{ end }}

    <section id="other" class="wrapper style1 align-center">
        <div class="inner">
            <h2>Other Works</h2>
        </div>

        <div class="gallery style2 medium onscroll-fade-in">
            {{ range sort (where .Site.RegularPages "Section" "story") "Params.order" "asc" }}
                {{ $painting := .Resources.GetMatch (printf "%spainting.jpg" (replace .File.Dir "story/" "")) }}
                {{ if and ($painting) (ne .Permalink $.Permalink) }}
                    {{ $painting := $painting.Fill "420x350 Center" }}
                    {{ $painting := $painting.Resize "420x webp q90" }}
                    <article>
                        <a href="{{ .RelPermalink }}" class="image">
                            <img src="{{ $painting.RelPermalink }}" alt="{{ .Title }}" loading="lazy">
                        </a>
                        <div class="caption">
                            <h3>{{ .Params.subtitle }} - {{ .Title }}</h3>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                {{ end }}
            {{ end }}
        </div>
    </section>
{{ end }}

{{ define "scripts" }}
    <script type="text/javascript">
      function trackInterest() {console.log("Tracking Interest");
        fbq('trackCustom', 'ClickAction');
        rdt('track', 'Custom', { customEventName: 'Click Action' });
        pintrk('track', 'action');
        gtag('event', 'click_action', {});
      }
    </script>
{{ end }}