{{ $posts := slice }}
{{ range (sort .Site.RegularPages "Params.power" "desc") }}
    {{ if .Params.favorite }}
        {{ $posts = $posts | append . }}
    {{ end }}
{{ end }}
{{ $favorites := $posts | symdiff .Data.Pages }}

<div class="box alt">
    <div class="row gtr-50 gtr-uniform">
        {{ range first 6 $favorites }}
            <div class="col-2">
                <span class="image fit">
                    <a class="thumbnail" href="{{ .RelPermalink }}#main">
                        {{ $thumbnail := .Resources.GetMatch "painting.jpg" }}
                        {{ $thumbnail := $thumbnail.Fill "300x300 Center" }}
                        {{ $thumbnail := $thumbnail.Resize "300x webp q90" }}

                        <img class="loader" src="{{ $thumbnail.RelPermalink }}" loading="lazy" alt="{{- .Title -}}" title='{{ .Title }}' />
                    </a>
                </span>
            </div>
        {{ end }}
    </div>
</div>