<nav id="nav">
    {{/* list of child pages */}}
    {{ $currentPage := . }}
    <ul class="links">
        {{ range .Site.Menus.inside }}
            <li class="{{if strings.Contains $currentPage.RelPermalink .URL }}{{if ne .Name "Home"}}active{{end}}{{ end }}">
                <a href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                    {{ .Name }}
                </a>
            </li>
        {{ end }}
    </ul>
    
    <ul class="icons">
        <li>
            <div class="ec-cart-widget"></div>
            <div>
                <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?101772706&data_platform=code&data_date=2024-04-07" charset="utf-8"></script>
                <script type="text/javascript">Ecwid.init();</script>
            </div>
        </li>
        <!--<li>
            <a href="https://patreon.com/ArtistBenYoung" class="icon brands after fa-patreon" title="Patreon" target="_blank">
                Support <span class="label">on Patreon</span>
            </a>
        </li>-->
    </ul>
</nav>