<footer id="footer">
    <section>
      <div style="text-align: left" class="sender-form-field">
        <h2 style="margin-bottom:0;">Newsletter Signup</h2>
        <p style="line-height1.2em; margin-bottom:0;">Sign up for the newsletter, learn when new artwork is completed, when exhibits are, and receive a 20% off coupon for all prints. Plus be entered to for a monthly chance to win a free art print!</p>
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup">
          <form action="https://benjaminjyoung.us14.list-manage.com/subscribe/post?u=5a284b4c27bab02102d3645de&amp;id=a01ee307ec&amp;f_id=00e0c0e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group field"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                  <div class="mc-field-group field"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div>
                  <div class="mc-field-group field"><label for="mce-LNAME">Last Name </label><input type="text" name="LNAME" class=" text" id="mce-LNAME" value=""></div>
                  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div hidden=""><input type="hidden" name="tags" value="7257335"></div>
                <div id="mce-responses" class="clear foot">
                  <div class="response" id="mce-error-response" style="display: none;"></div>
                  <div class="response" id="mce-success-response" style="display: none;"></div>
              </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                  <input type="text" name="b_5a284b4c27bab02102d3645de_a01ee307ec" tabindex="-1" value="">
              </div>
              <div class="optionalParent">
                  <div class="clear foot">
                    <ul class="actions">
                      <li>
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" value="Subscribe">
                      </li>
                  </div>
              </div>
          </div>
      </form>
      </div>
      <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
      </section>
    <section class="split contact">
        <section class="alt">
            <h3>Address</h3>
            <p>
                Benjamin J. Young<br>
                <a href="https://maps.app.goo.gl/Hd5tQ6SmzdXv8ARf8" onclick="fbq('track', 'FindLocation');" target="_blank">
                  Studio #22.
                  318 Cleveland Ave NW<br>
                  Canton, Ohio 44707<br>
                </a>
                United States of America
            </p>
        </section>
        <section>
            <h3>Social</h3>
            <ul class="icons alt">
                <li>
                  <a href="https://www.facebook.com/artist.benjamin.young" class="icon brands alt fa-facebook" title="Facebook" target="_blank">
                    <span class="label">Follow me on Facebook</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/artistbenyoung" class="icon brands alt fa-instagram" title="Instagram" target="_blank">
                    <span class="label">Follow me on Instagram</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.pinterest.com/artistbenyoung/" class="icon brands alt fa-pinterest" title="Pinterest" target="_blank">
                    <span class="label">Follow me on Pinterest</span>
                  </a>
                </li>
                <!--<li>
                  <a href="https://twitter.com/artistbenyoung" class="icon brands alt fa-twitter" title="Twitter" target="_blank">
                    <span class="label">Follow me on Twitter</span>
                  </a>
                </li>-->
              </ul>
        </section>
    </section>
</footer>

<div id="copyright">
    <ul>
        <li>
          &copy;
          {{ with .Site.Copyright | default .Site.Title }}
            {{ . | safeHTML }}
            2023 -
            {{ now.Format "2006"}}
          {{ end }}
        </li>
        <li>
            <a href="/privacy">Privacy Policy</a>
        </li>
        <li>
            <a href="/shipping">Shipping</a>
        </li>
        <li>
            <a href="/returns">Returns Policy</a>
        </li>
    </ul>
</div>