{{ with resources.Get "js/jquery.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/scrollex.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/scrolly.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/browser.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/breakpoints.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/util.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/inside.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "js/venobox.js" | resources.Minify }}
  <script src="{{ .RelPermalink }}"></script>

  <script>
    new VenoBox({
      selector: '.preview',
      numeration: true,
      infinigall: true,
      spinner: 'rotating-plane'
    });
  </script>
{{ end }}