<footer id="footer">
    <section>
      <script>
        (function (s, e, n, d, er) {
          s['Sender'] = er;
          s[er] = s[er] || function () {
            (s[er].q = s[er].q || []).push(arguments)
          }, s[er].l = 1 * new Date();
          var a = e.createElement(n),
              m = e.getElementsByTagName(n)[0];
          a.async = 1;
          a.src = d;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
        sender('3038bbc46b5014')
      </script>

      <div style="text-align: left" class="sender-form-field" data-sender-form-id="lt1chkp6aqda9eeue3v"></div>
    </section>
    <section class="split contact">
        <section class="alt">
            <h3>Address</h3>
            <p>
                Benjamin J. Young<br>
                324 Cleveland Ave NW<br>
                Canton, Ohio 44707<br>
                United States of America
            </p>
        </section>
        <section>
            <h3>Email</h3>
            <p><a href="mailto:the@benjaminjyoung.com">the@benjaminjyoung.com</a></p>
        </section>
        <section>
            <h3>Social</h3>
            <ul class="icons alt">
                <li>
                  <a href="https://www.facebook.com/artist.benjamin.young" class="icon brands alt fa-facebook" title="Facebook" target="_blank">
                    <span class="label">Follow me on Facebook</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/artistbenyoung" class="icon brands alt fa-instagram" title="Instagram" target="_blank">
                    <span class="label">Follow me on Instagram</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.pinterest.com/artistbenyoung/" class="icon brands alt fa-pinterest" title="Pinterest" target="_blank">
                    <span class="label">Follow me on Pinterest</span>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/artistbenyoung" class="icon brands alt fa-twitter" title="Twitter" target="_blank">
                    <span class="label">Follow me on Twitter</span>
                  </a>
                </li>
              </ul>
        </section>
    </section>
</footer>

<div id="copyright">
    <ul>
        <li>
          &copy;
          {{ with .Site.Copyright | default .Site.Title }}
            {{ . | safeHTML }}
            2023 -
            {{ now.Format "2006"}}
          {{ end }}
        </li>
        <li>
            <a href="/privacy">Privacy Policy</a>
        </li>
        <li>
            <a href="/shipping">Shipping</a>
        </li>
        <li>
            <a href="/returns">Returns Policy</a>
        </li>
    </ul>
</div>