<nav id="nav">
    {{/* list of child pages */}}
    {{ $currentPage := . }}
    <ul class="links">
        {{ range .Site.Menus.main }}
            <li class="{{if strings.Contains $currentPage.RelPermalink .URL }}{{if ne .Name "Home"}}active{{end}}{{ end }}">
                <a href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                    {{ .Name }}
                </a>
            </li>
        {{ end }}
    </ul>
    
    <!--<ul class="icons">
        <li>
            <a href="https://patreon.com/ArtistBenYoung" class="icon brands after fa-patreon" title="Patreon" target="_blank">
                Support <span class="label">on Patreon</span>
            </a>
        </li>
    </ul>-->
</nav>