<nav id="nav">
    {{/* list of child pages */}}
    {{ $currentPage := . }}
    <ul class="links">
        {{ range .Site.Menus.main }}
            <li class="{{if strings.Contains $currentPage.RelPermalink .URL }}{{if ne .Name "Home"}}active{{end}}{{ end }}">
                <a href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                    {{ .Name }}
                </a>
            </li>
        {{ end }}
    </ul>
    
    <ul class="icons">
        <li>
            <a href="http://artistbenyoung.etsy.com/" class="icon brands after fa-etsy" title="Etsy" target="_blank">
                Buy Prints <span class="label"> on Etsy</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon brands after fa-patreon" title="Patreon" target="_blank">
                <span class="label">Patreon</span> Support
            </a>
        </li>
    </ul>
</nav>