<header id="header">
  <h1><a href="/about">{{ .Params.heading | default .Site.Title }}</a></h1>
  
  {{ with .Params.description }}
    <p>{{ . }}</p>
  {{ end }}

  {{ with .Site.Params.location }}
    <address>
      <p><i class="icon fa fa-map-pin"><span class="label">Located in</span></i> {{ . }}</p> 
    </address>
  {{ end }}

  <ul class="icons">
    <li>
      <a href="https://www.facebook.com/artist.benjamin.young" class="icon brands fa-facebook" title="Facebook" target="_blank">
        <span class="label">Follow me on Facebook</span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/artistbenyoung" class="icon brands fa-instagram" title="Instagram" target="_blank">
        <span class="label">Follow me on Instagram</span>
      </a>
    </li>
    <li>
      <a href="https://www.pinterest.com/artistbenyoung/" class="icon brands fa-pinterest" title="Pinterest" target="_blank">
        <span class="label">Follow me on Pinterest</span>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/artistbenyoung" class="icon brands fa-twitter" title="Twitter" target="_blank">
        <span class="label">Follow me on Twitter</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon brands fa-patreon" title="Patreon" target="_blank">
        <span class="label">Support me on Patreon</span>
      </a>
    </li>
  </ul>
</header>