<header id="header">
  <h1><a href="/about">{{ .Params.heading | default .Site.Title }}</a></h1>
  
  {{ with .Params.description }}
    <p>{{ . }}</p>
  {{ end }}

  {{ with .Site.Params.location }}
    <address>
      <p><i class="icon fa fa-map-pin"><span class="label">Located in</span></i> {{ . }}</p> 
    </address>
  {{ end }}

  <ul class="icons">
    <li>
      <a href="#" class="icon brands fa-facebook" title="Facebook" target="_blank">
        <span class="label">{{ .Params.heading | default .Site.Title }} Facebook Page</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon brands fa-instagram" title="Instagrem" target="_blank">
        <span class="label">{{ .Params.heading | default .Site.Title }} Instagram Profile</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon brands fa-pinterest" title="Pinterest" target="_blank">
        <span class="label">{{ .Params.heading | default .Site.Title }} Pinterest Profile</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon brands fa-twitter" title="Twitter" target="_blank">
        <span class="label">{{ .Params.heading | default .Site.Title }} Twitter Profile</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon brands fa-patreon" title="Patreon" target="_blank">
        <span class="label">{{ .Params.heading | default .Site.Title }} Patreon Page</span>
      </a>
    </li>
  </ul>
</header>