<ul class="pa0">
  {{ range .GetTerms "collections" }}
   <li class="list di" style="list-style:none; display:inline-block;">
     <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}
  {{ range .GetTerms "categories" }}
   <li class="list di" style="list-style:none; display:inline-block;">
     <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}
  {{ range .GetTerms "mediums" }}
   <li class="list di" style="list-style:none; display:inline-block;">
     <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}
  {{ range .GetTerms "tags" }}
   <li class="list di" style="list-style:none; display:inline-block;">
     <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}
  {{ range .GetTerms "colors" }}
   <li class="list di" style="list-style:none; display:inline-block;">
     <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}
</ul>
