<ul class="pa0">

  <li style="list-style:none; display:inline-block;">
    <strong>Keywords: </strong>
  </li>
  {{ range .GetTerms "tags" }}
  <li style="list-style:none; display:inline-block; border:1px solid #bbb; border-radius:5px; padding:0 1em;">
    <a href="{{ .RelPermalink }}">
      {{- .LinkTitle -}}
    </a>
  </li>
 {{ end }}

  <li style="list-style:none; display:inline-block;">
    <strong>Collections: </strong>
  </li>
  {{ range .GetTerms "collections" }}
   <li style="list-style:none; display:inline-block; border:1px solid #bbb; border-radius:5px; padding:0 1em;">
     <a href="{{ .RelPermalink }}">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}

  <li style="list-style:none; display:inline-block;">
    <strong>Colors: </strong>
  </li>
  {{ range .GetTerms "colors" }}
   <li style="list-style:none; display:inline-block; border:1px solid #bbb; border-radius:5px; padding:0 1em;">
     <a href="{{ .RelPermalink }}">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}

  <li style="list-style:none; display:inline-block;">
    <strong>Categories: </strong>
  </li>
  {{ range .GetTerms "categories" }}
   <li style="list-style:none; display:inline-block; border:1px solid #bbb; border-radius:5px; padding:0 1em;">
     <a href="{{ .RelPermalink }}">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}

  <li style="list-style:none; display:inline-block;">
    <strong>Mediums: </strong>
  </li>
  {{ range .GetTerms "mediums" }}
   <li style="list-style:none; display:inline-block; border:1px solid #bbb; border-radius:5px; padding:0 1em;">
     <a href="{{ .RelPermalink }}">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}
</ul>
