{{ define "main" }}
<div id="wrapper">
  <!-- Do NOT remove inlinse styles on bg below -->
  <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

  {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

  {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

  <div id="main">
      <section class="post">
          <header class="major">
            <h1>
              Artwork Not Found
            </h1>
          </header>

          <p>The website page or artwork you are looking for is not here. Prehaps go back to the gallery lobby, ask for directions from reception, and try again.</p>
      </section>
  </div>

  {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
</div>
{{ end }}
