{{ define "main" }}
<div id="wrapper">
  <!-- Do NOT remove inline styles on bg below -->
  <div class="bg fixed" style='position:fixed; top:0; left:0; z-index:-1; width:100vw; height:100vh; background-color:#ddd; background-image:url("/images/background.webp"); background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:scroll;'></div>

  {{ block "header" . }}{{ partial "inside-header.html" .}}{{ end }}

  {{ block "nav" . }}{{ partial "inside-navigation.html" .}}{{ end }}

  <div id="main">
      <section class="post">
          <header class="major">
            <h1>
              Artwork Not Found
            </h1>
          </header>

          <p>
            The website page or artwork you are looking for is not here.
            Perhaps <a href="/">go back</a> to the gallery lobby, <a href="/contact">ask for directions</a> from reception, and try again.
            Online gallery hours are from 12am-11:59pm, Monday through Sunday.
            Thank you for visiting <a href="/about">Ben Young</a>'s online art gallery.
            Have a lovely rest of your day!
          </p>

          <p style="text-align: center;">
            <img width="100%" style="max-width:600px;" src="/images/not-found.jpg" alt="Missing Painting" title="Maybe the painting will be back in 5 minutes? Probably not...">
          </p>

          <p style="text-align: center;">
            There are no food or drinks allowed in the website gallery.
            Shoes are optional.
          </p>

          <p style="text-align: center;">
            <a class="button" href="/featured">&lt; Back to Non-Missing Artwork</a>
          </p>
      </section>
  </div>

  {{ block "footer" . }}{{ partialCached "inside-footer.html" . }}{{ end }}
</div>
{{ end }}
