{{ define "styles" }}
    {{ partial "site-style.html" . }}
{{ end }}

{{ define "scripts" }}
    {{ partial "site-scripts.html" . }}
{{ end }}

{{ define "main" }}
  <div id="wrapper">
    <section id="main">
      <div class="items">
        <div class="item intro">
          <h1>{{ .Site.Title }}</h1>
          {{ .Content }}
        </div>

        {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
        {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
        {{ $section_count := len $section }}

        {{ if ge $section_count 1 }}
          {{ $section_name := index (.Site.Params.mainSections) 0 }}
          {{ $n_posts := $.Param "recent_posts_number" | default 120 }}

          {{ range $i,$p := (sort (where $section "Params.featured" true) "Params.popularity" "asc") }}
            {{ if not (modBool $i 2) }}

              {{ $thumbnail := .Resources.GetMatch "painting.jpg" }}
              {{ $thumbnail := $thumbnail.Fit "270x270 Center" }}
              {{ $thumbnail := $thumbnail.Resize "270x webp q90" }}

              {{ if eq $.Params.ratio "landscape" }}
                {{ $thumbnail = .Resources.GetMatch "painting.jpg" }}
                {{ $thumbnail := $thumbnail.Fit "380x270 Center" }}
                {{ $thumbnail := $thumbnail.Resize "380x webp q90" }}
              {{ end }}

              {{ if eq $.Params.ratio "portrait" }}
                {{ $thumbnail = .Resources.GetMatch "painting.jpg" }}
                {{ $thumbnail := $thumbnail.Fit "210x270 Center" }}
                {{ $thumbnail := $thumbnail.Resize "210x webp q90" }}
              {{ end }}

              <a href="{{ .RelPermalink }}" class="image" title="{{ .Title }} ({{ .Date| time.Format `2006` }})">
                <div class="outset"><div class="frame"><div class="inset">
                  <article class="item thumb span-{{ .Params.ratio }}">
                    <img src="{{ $thumbnail.RelPermalink }}" loading="lazy" alt="{{ .Params.alt }}" title='{{ .Title }} ({{ .Date| time.Format "2006" }}) by {{ .Site.Copyright }}'>
                  </article>
                </div></div></div>
              </a>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>

      <div class="items">
        {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
        {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
        {{ $section_count := len $section }}

        {{ if ge $section_count 1 }}
          {{ $section_name := index (.Site.Params.mainSections) 0 }}
          {{ $n_posts := $.Param "recent_posts_number" | default 120 }}

          {{ range $i,$p := (sort (where $section "Params.featured" true) "Params.popularity" "asc") }}
            {{ if (modBool $i 2) }}
              {{ $thumbnail := .Resources.GetMatch "painting.jpg" }}
              {{ $thumbnail := $thumbnail.Fit "270x270 Center" }}
              {{ $thumbnail := $thumbnail.Resize "270x webp q90" }}

              {{ if eq $.Params.ratio "landscape" }}
                {{ $thumbnail = .Resources.GetMatch "painting.jpg" }}
                {{ $thumbnail := $thumbnail.Fit "330x270 Center" }}
                {{ $thumbnail := $thumbnail.Resize "330x webp q90" }}
              {{ end }}

              {{ if eq $.Params.ratio "portrait" }}
                {{ $thumbnail = .Resources.GetMatch "painting.jpg" }}
                {{ $thumbnail := $thumbnail.Fit "210x270 Center" }}
                {{ $thumbnail := $thumbnail.Resize "210x webp q90" }}
              {{ end }}

              <a href="{{ .RelPermalink }}" class="image" title="{{ .Title }} ({{ .Date| time.Format `2006` }})">
                <div class="outset"><div class="frame"><div class="inset">
                  <article class="item thumb span-{{ .Params.ratio }}">
                    <img src="{{ $thumbnail.RelPermalink }}" loading="lazy" alt="{{ .Params.alt }}" title='{{ .Title }} ({{ .Date| time.Format "2006" }}) by {{ .Site.Copyright }}'>
                  </article>
                </div></div></div>
              </a>
            {{ end }}
          {{ end }}
        {{ end }}

        <div class="item intro">
          <a class="bigtext" href="/artwork">View All Artwork &gt;</a>
        </div>
      </div>
    </section>

    <section id="footer">
      <section>
        {{ partial "site-navigation.html" .}}

        <p>
          Canton, Ohio.
          United States.
        </p>
      </section>
      <section>
        <ul class="icons">
          <li>
            <a href="https://www.facebook.com/artist.benjamin.young" class="icon brands fa-facebook" title="Facebook" target="_blank">
              <span class="label">Follow me on Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/artistbenyoung" class="icon brands fa-instagram" title="Instagram" target="_blank">
              <span class="label">Follow me on Instagram</span>
            </a>
          </li>
          <li>
            <a href="https://www.pinterest.com/artistbenyoung/" class="icon brands fa-pinterest" title="Pinterest" target="_blank">
              <span class="label">Follow me on Pinterest</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/artistbenyoung" class="icon brands fa-twitter" title="Twitter" target="_blank">
              <span class="label">Follow me on Twitter</span>
            </a>
          </li>
        </ul>
        <ul class="copyright">
          <li>
            &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}}. {{ end }}
          </li>
          <li>
            Designed by: <a href="https://webelements.agency">WebElements</a>
          </li>
        </ul>
      </section>
    </section>
  </div>

{{ end }}