{{ define "main" }}
    <section class="banner style1 content-align-left image-position-center - orient-right">
        <div class="content">
            <div class="logo align-center">
                <a href="/" aria-label="Home Page">
                   <img src="/images/logo.webp" title="Ben Young - Artist" alt="Ben Young's Artist Signature Logo" fetchpriority="high" style="width:300px; height:150px;" />
                </a>
                <h1>
                    {{- .Title -}}
                </h1>
            </div>
            <br>
            <div class="major align-justify">
                {{- .Summary -}}
            </div>
        </div>

        <div class="image">
            <img src="/images/banner-sm.webp" srcset="/images/banner-sm.webp 500w, /images/banner.webp 1000w, /images/banner-lg.webp 1500w" alt="Artist Ben Young" width="600px" height="800px">
        </div>
    </section>

    <section class="wrapper style1 align-center">
        <div class="inner">
            <h2>{{- .Params.subtitle -}}</h2>

            <div class="align-justify">
                {{ replace .Content .Summary "" | safeHTML }}
            </div>

            <div class="items style1 onscroll-fade-in medium">
                {{ range sort (where .Site.RegularPages "Section" "collections") "Params.Date" "asc" }}
                    <section>
                        <h3>{{ .Title }}</h3>
                        {{ $image := .Resources.GetMatch (printf "%spainting.jpg" (replace .File.Dir "collections/" "")) }}
                        {{ if $image }}
                            {{ $image := $image.Fit "800x800 webp q86" }}
                            <a href="{{ .Permalink }}" class="image fit">
                                <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" />
                            </a>
                        {{ end }}

                        <div class="inner">
                            <ul class="actions stacked">
                                <li>
                                    <a href="{{ .Permalink }}" class="button big wide smooth-scroll " onclick="trackInterest();">
                                        View Collection
                                    </a>
                                </li>
                            </ul>
                            </div>
                    </section>
                {{ end }}
            </div>
        </div>
    </section>

    <style>
        .hidden {
            display: none !important;
        }
    </style>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const params = new URLSearchParams(window.location.search);
        if (params.has('planned')) {
            document.querySelectorAll('.planned.hidden').forEach(function(el) {
                el.classList.remove('hidden');
            });
        }
    });
    </script>

    <section {{ if not (replace .Content .Summary "") }}id="more"{{ end }} class="spotlight style1 {{ if replace .Content .Summary "" }}orient-right{{ else }}orient-left{{ end }} content-align-left image-position-center onscroll-image-fade-in">
        <div class="content">
            <h2>About the Artist</h2>
            <p class="align-justify">
                Ben Young is a contemporary fine artist originally from Appalachia, Ohio.
                Originally a Software Engineer, he began painting in watercolor and oil less than two years ago, and his work has quickly gained attention for its emotional depth and storytelling.
                Each piece is a personal narrative, rooted in lived experience and expressed through a sensitive, evocative style.
                Each piece touches on themes of loss, love, family, and resilience, often drawing from his own life, including the tragic loss of his fiancée and journey it took to overcome those emotional burdens.
                His paintings resonate with collectors drawn to authenticity, vulnerability, and a fresh, emerging voice in American art.
            </p>
            
            <ul class="actions stacked">
                <li>
                    <a href="#signup" class="button big wide smooth-scroll" onclick="focusSignup();">
                        Join Collector's Circle
                    </a>
                </li>
            </ul>
        </div>
        <div class="image">
            <img src="/images/banner-sm.webp" srcset="/images/banner-sm.webp 500w, /images/banner.webp 1000w, /images/banner-lg.webp 1500w" alt="Artist Ben Young" width="800px" height="600px">
        </div>
    </section>

    <section id="signup" class="wrapper style1 align-center">
        <div class="inner">
            <h2>Ready to Learn More? Join Collector's Circle</h2>
            <p>
                If you would like to step inside the story behind this piece—discover its inspiration, explore the creative journey, and gain access to private notes and collector insights—I invite you to join my private collector’s list.
            </p>
            <p>
                As a welcome gesture, you will receive a preferred 15% collector’s privilege on your acquisitions, along with entry into an exclusive monthly drawing to receive a complimentary limited reproduction.
            </p>

            <form method="post" action="https://benjaminjyoung.us14.list-manage.com/subscribe/post?u=5a284b4c27bab02102d3645de&amp;id=a01ee307ec&amp;f_id=0087c0e0f0" class="align-left" target="_blank">
                <div class="fields">
                    <div class="field">
                        <label for="email">Email Address</label>
                        <input type="text" name="EMAIL" id="email" value="" required onfocus="focusSignup();">
                    </div>
                    <div class="field half">
                        <label for="fname">First Name</label>
                        <input type="text" name="FNAME" id="fname" value="" onfocus="focusSignup();">
                    </div>
                    <div class="field half">
                        <label for="lname">Last Name</label>
                        <input type="text" name="LNAME" id="lname" value="" onfocus="focusSignup();">
                    </div>
                </div>
                <div hidden>
                    <input type="hidden" id="hid-MMERGE7" name="MMERGE7" value="Story">
                    <input type="hidden" name="tags" value="7257335,7257510">
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <input type="text" name="b_5a284b4c27bab02102d3645de_a01ee307ec" tabindex="-1" value="">
                    </div>
                <ul class="actions">
                    <li><input type="submit" name="submit" id="submit" value="Request Access"></li>
                </ul>
            </form>

            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
            <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        </div>



        {{ if (.Resources.GetMatch (printf "%scollector.jpg" (replace .File.Dir "story/" ""))) }}
            <div class="image">
                {{ $side := .Resources.GetMatch (printf "%scollector.jpg" (replace .File.Dir "story/" "")) }}
                {{ $side := $side.Fit "800x800 webp q86" }}

                <img src="{{ $side.RelPermalink }}" alt="">
            </div>
        {{ end }}
    </section>
{{ end }}

{{ define "scripts" }}
    <script type="text/javascript">
        function focusSignup() {
            if (localStorage.viewSignup) {
                return;
            }

            localStorage.viewSignup = true;
            
            fbq('trackCustom', 'ViewSignup');
            gtag('event', 'view_signup', {});
            
            trackEngaged();
        }
    </script>
{{ end }}