<div class="box">
    <h3 class="align-center">
        Discover Through My Newsletter
    </h3>
    <p class="align-center">
        <a href="/sign-up" onclick="trackInterest()">Sign up for my newsletter</a>, and receive a <strong>20% off</strong> promotional code your purchases, along with seasonal chances to <strong>win a free limited reproduction</strong>.
        Best of all, learn about my future paintings completed!
    </p>
    <ul class="actions special">
        <li>
            <a href="/sign-up" class="button primary" onclick="trackInterest()">
                Newsletter Signup &gt;
            </a>
        </li>
        <li>
            <a href="#purchase" class="button" onclick="trackInterest()">
                Purchase Artwork &gt;
            </a>
        </li>
    </ul>
</div>