<div class="box">
    <h3 class="align-center">
        🎨 Win A Limited Reproduction 🎨
    </h3>
    <p class="align-center">
        Sign up for my artist newsletter to enter a drawing for a limited reproduction of any of my paintings.
        The winner will be notified via email.
        As well as receive exclusive updates on new paintings, exhibitions, and special offers.
    </p>
    <ul class="actions special">
        <li>
            <a href="/sign-up{{ if (.Get "artwork") }}?artwork={{ .Get "artwork" }}{{ end }}" class="button primary" onclick="trackInterest()">
                🏆 Enter To Win &gt;
            </a>
        </li>
        <li>
            <a href="#purchase" class="button" onclick="trackInterest()">
                🛒 Purchase Now &gt;
            </a>
        </li>
    </ul>
</div>