<div class="box">
    <h3 class="align-center">
        Win A Limited Reproduction
    </h3>
    <p class="align-center">
        Enter a drawing for a limited reproduction of one of my paintings. The winner will be notified via email.
    </p>
    <ul class="actions special">
        <li>
            <a href="/sign-up" class="button primary" onclick="trackInterest()">
                Enter To Win &gt;
            </a>
        </li>
        <li>
            <a href="#purchase" class="button" onclick="trackInterest()">
                Purchase Artwork &gt;
            </a>
        </li>
    </ul>
</div>