{{ if (.Get "painting") }}
    {{ $posts := slice }}
    {{ range .Site.RegularPages }}
        {{ if eq .RelPermalink ($.Get "painting") }}
            {{ $posts = $posts | append . }}
        {{ end }}
    {{ end }}

    {{ range $posts }}
        <a class="thumbnail" href="{{ .RelPermalink }}">
            {{ $thumbnail := .Resources.GetMatch "painting.jpg" }}
            {{ $thumbnail := $thumbnail.Fill "200x200 Center" }}
            {{ $thumbnail := $thumbnail.Resize "200x webp q90" }}

            <img style="background: #000 url('/images/loader.gif') center no-repeat;" src="{{ $thumbnail.RelPermalink }}" width="130px" height="130px" loading="lazy" alt="{{- .Title -}}" title='{{ .Title }}' />
        </a>
    {{ end }}
{{ end }}