<ul style="list-style:none; text-align:center; margin-bottom:0;">
    {{ with $files := .Page.Resources.Match "process/*.jpg" }}
        {{ range $index, $file := $files }}
            {{ $full := $file.Fit "800x800" }}
            {{ $thumbnail := $file.Fill "90x90 Center q85" }}
            <li style="display:inline-block;">
                <a class="preview" href="{{ $full.RelPermalink }}" data-gall="progress">
                    <img src="{{ $thumbnail.RelPermalink }}" width="90px" height="90px" loading="lazy" alt="Progress step {{ add $index 1 }}" title="Progress step {{ add $index 1 }}">
                    <br>
                    Step {{ add $index 1 }}
                </a>
            </li>
        {{ end }}
    {{ end }}

    {{if .Get "progress" }}
        <li style="display:inline-block;">
            <a class="preview" data-autoplay="true" data-fitview="true" data-vbtype="iframe" data-gall="progress" href="{{ .Get "progress" }}">
                {{ $overlay := "" }}
                {{ $path := "images/play.png" }}
                {{ with resources.Get $path }}
                    {{ $overlay = .Fit "60x60 Center" }}
                {{ else }}
                    {{ errorf "Unable to get resource %q" $path }}
                {{ end }}

                {{ $filter := images.Overlay $overlay 15 15 }}

                {{ with $thumbnail := .Page.Resources.GetMatch "painting.jpg" }}
                    {{ $thumbnail := $thumbnail.Fill "90x90 Center q85" }}
                    {{ with $thumbnail }}
                        {{ with . | images.Filter $filter }}
                            <img src="{{ .RelPermalink }}" width="90px" height="90px" loading="lazy" alt="Video progress timelapse" title="Progress Video Timelapse">
                            <br>
                            Video
                        {{ end }}
                    {{ end }}
                {{ end }}
            </a>
        </li>
    {{ end }}
</ul>